<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin Services</title>
        <meta name="description" content="Découvrez Admin Services : un projet d'étudiant">
        <link rel="stylesheet" href="../../../assets/css/style.css">
        <link rel="stylesheet" href="../../../assets/css/safe-mode.css">
        <link rel="icon" href="../../../assets/img/logo.png">
    </head>
    <body>
        <div class="container">
            <div id="top">
                <img src="../../../assets/img/logo.png" alt="Logo d'Admin Services">
                <h2>Mode sans échec</h2>
            </div>
            <div id="content">
                <p>Voulez-vous démarrer <strong>Admin Services</strong> en mode sans échec ?</p>
                <p>Démarrer en mode sans échec :</p>
                <ul>
                    <li>
                        Désactivera les redirections au démarrage
                    </li>
                    <li>
                        Désactivera les animations et le style pouvant ralentir, bloquer ou surcharger le navigateur
                    </li>
                    <li>
                        Désactivera les appels à des ressources externes
                    </li>
                    <li>
                        Désactivera certaines applications (dont externe) et les fonctionnalités inutiles
                    </li>
                </ul>
            </div>
            <div id="bottom">
                <button id="continue">Continuer</button>
                <button id="return">Quitter</button>
            </div>
        </div>
        <script src="../../../assets/js/safe-mode.js"></script>
    </body>
</html>