main {
    width: 80%;
    display: flex;
    flex-direction: row;
}

#about {
    width: 25%;
}

#aboutImg {
    width: 80%;
    height: auto;
}

#aboutImg:hover {
    transform: scale(1.025);
}

#settingsDiv {
    width: 70%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #about {
        width: 100%;
        text-align: center;
    }

    #settingsDiv {
        width: 100%;
        margin: 2vh 0;
    }

    #dev {
        display: none;
    }
}