<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/applications/support.css">
    <link rel="stylesheet" href="../../../assets/css/articlesui.css">
</head>
<body>
    <header>
        <nav>
            <a href="../../panel.html" id="brand">
                <img src="../../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="../support.html" title="Retourner au menu de l'application"><i
                            class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div id="sidebar">
                <div id="topics">
                    <a href="../support.html">Accueil</a>
                    <a href="./account.html">Compte</a>
                    <a href="./security.html">Sécurité</a>
                    <a href="./functions.html">Fonctionnalités</a>
                    <a href="./personnalisation.html">Personnalisation</a>
                    <a href="./updates.html">Mises à jour</a>
                    <a href="./dev.html">Développement</a>
                </div>
                <div id="chapter">
                    <a href="updates.html">Rester à jour</a>
                </div>
            </div>
            <div id="content">
                <h1>Développement</h1>
                <p>Quel sujet vous intéresse ?</p>
                <div id="category" class="articleContain">
                    <article>
                        <h2>SDK</h2>
                        <p>Documentation du SDK d'Admin Services.</p>
                        <a href="#sdk" class="button">Voir</a>
                    </article>
                    <article>
                        <h2>Modes de récupération</h2>
                        <p>Fonctionnement des différents modes de récupération.</p>
                        <a href="#recovery" class="button">Voir</a>
                    </article>
                </div>
                <div id="help">
                    <div id="sdk">
                        <h2>SDK</h2>
                        <p>Le <strong>SDK</strong> permet aux développeurs de proposer de développer une application
                            pour <strong>Admin Services</strong>.</p>
                        <p>Il vous suffit de le télécharger <a href="../../../assets/files/sdk.zip">ici</a> et de suivre
                            les instructions présentes dans les fichiers markdown.</p>
                    </div>
                    <div id="recovery">
                        <h2>Modes de récupération</h2>
                        <p><strong>Admin Services</strong> dispose de deux systèmes de récupération en cas de
                            défaillance.</p>
                        <ul>
                            <li>
                                <strong>Mode de récupération :</strong> Il s'agit d'un mode de récupération automatique
                                qui se déclenche en cas d'erreur critique empêchant le bon fonctionnement
                                d'<strong>Admin Services</strong>. Il peut être utilisé manuellement et contient
                                diverses options de récupération.
                            </li>
                            <li>
                                <strong>Mode sans échec :</strong> Le mode sans échec est accessible uniquement au
                                démarrage d'<strong>Admin Services</strong> et désactive tout ce qui pourrait ralentir
                                ou bloquer le navigateur, poser des problèmes, etc.
                            </li>
                        </ul>
                        <p>Les différents modes proposés sont accessibles à tous, mais sont surtout utilisés par les
                            développeurs d'applications.</p>
                    </div>
                    <div id="recover">
                        <h2>Mode de récupération</h2>
                        <p>Il existe deux méthodes d'accès :</p>
                        <ul>
                            <li>
                                Automatiquement, lors d'un incident au démarrage : sauvegardes de session corrompues,
                                profil utilisateur corrompu, etc.
                            </li>
                            <li>
                                Manuellement, dans les paramètres.
                            </li>
                        </ul>
                        <p>Une fois le mode de récupération démarré, vous disposez de plusieurs options :</p>
                        <ul>
                            <li>
                                <strong>Réinitialiser le profil</strong> (efface toutes les données du profil)
                            </li>
                            <li>
                                <strong>Mettre à jour le profil</strong> (met à jour les données du profil, permet de
                                réparer le compte en cas de corruption)
                            </li>
                            <li>
                                <strong>Réinitialiser Admin Services</strong> (efface toutes les données d'Admin
                                Services)
                            </li>
                            <li>
                                <strong>Réinitialiser le système de démarrage</strong> (réinitialise les paramètres de
                                démarrage)
                            </li>
                            <li>
                                <strong>Démarrer Admin Utility</strong> (mode sans échec)
                            </li>
                            <li>
                                <strong>Télécharger la dernière mise à jour stable via GitHub</strong> (télécharge la
                                dernière version d'Admin Services)
                            </li>
                            <li>
                                <strong>Quitter et passer sur Admin Services</strong> (quitte le mode de récupération)
                            </li>
                        </ul>
                    </div>
                    <div id="safeMode">
                        <h2>Mode sans échec</h2>
                        <p>Le mode sans échec est un mode de récupération qui permet de continuer à accéder à
                            <strong>Admin Services</strong>.</p>
                        <p>Pour y accéder, appuyez sur la touche <strong>S</strong> au démarrage d'<strong>Admin
                                Services</strong>.</p>
                        <p><strong>Note :</strong> Si un message ne s'affiche pas après avoir appuyé sur la touche, cela
                            signifie que le mode sans échec n'a pas été chargé.</p>
                        <p>Le mode sans échec :</p>
                        <ul>
                            <li>
                                Désactive les effets de transparence
                            </li>
                            <li>
                                Désactive les animations
                            </li>
                            <li>
                                Désactive les effets de flou
                            </li>
                            <li>
                                Désactive les effets de transition
                            </li>
                            <li>
                                Désactive les effets de défilement
                            </li>
                            <li>
                                Les applications tierces ne sont pas chargées
                            </li>
                        </ul>
                        <p><strong>Note :</strong> les applications tierces sont désactivées, sauf pour les comptes
                            développeur enregistrés. Cependant, le compte développeur ne déverrouille que les
                            applications publiées sur le compte concerné.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="../../../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../../../assets/js/back.js"></script>
</body>
</html>