<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel/panel.css">
    <link rel="stylesheet" href="../../../assets/css/applications/support.css">
    <link rel="stylesheet" href="../../../assets/css/articlesui.css">
</head>
<body>
    <header>
        <nav>
            <a href="../../panel.html" id="brand">
                <img src="../../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="../support.html" title="Retourner au menu de l'application"><i
                            class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div id="sidebar">
                <div id="topics">
                    <a href="../support.html">Accueil</a>
                    <a href="./account.html">Compte</a>
                    <a href="./security.html">Sécurité</a>
                    <a href="./functions.html">Fonctionnalités</a>
                    <a href="./personnalisation.html">Personnalisation</a>
                    <a href="./updates.html">Mises à jour</a>
                    <a href="./dev.html">Développement</a>
                </div>
                <div id="chapter">
                    <a href="#available">Disponibilité</a>
                    <a href="#custom">Version modifiée</a>
                    <a href="#list">Liste màj</a>
                    <a href="updates.html">Rester à jour</a>
                </div>
            </div>
            <div id="content">
                <h1>Mises à jour</h1>
                <p>Quel sujet vous intéresse ?</p>
                <div id="category" class="articleContain">
                    <article>
                        <h2>Disponibilité du support</h2>
                        <p>Consultez la disponibilité du support pour les versions d'<strong>Admin Services</strong>.
                        </p>
                        <a href="#available" class="button">Lire</a>
                    </article>
                    <article>
                        <h2>Versions modifiées</h2>
                        <p>Obtenez des informations sur les versions modifiées.</p>
                        <a href="#custom" class="button">Lire</a>
                    </article>
                    <article>
                        <h2>Liste des mises à jour</h2>
                        <p>Consultez la liste des mises à jour ainsi que leurs informations.</p>
                        <a href="#list" class="button">Lire</a>
                    </article>
                </div>
                <div id="help">
                    <div id="available">
                        <h2>Disponibilité du support</h2>
                        <p>Comme pour chaque logiciel important, tels que des systèmes d'exploitation, <strong>Admin Services</strong> contient un système de support particulier. Étant un site Web, il n'y a pas plusieurs versions disponibles sur navigateur. Cependant, vous pouvez<strong>downgrade</strong> vers une version antérieure via <strong>GitHub</strong>.</p>
                        <p>Le support est donc proposé systématiquement pour deux versions, les versions actuelles et la version antérieure à celle-ci.</p>
                        <p>Ce système de support ne garantit pas de mises à jour supplémentaires pour les anciennes versions, mais permet de porter assistance via le système de support ou par email.</p>
                        <p>Voici la disponibilité de support pour <strong>Admin Services</strong> (cela ne s'applique pas pour les versions customisées) :</p>
                        <ul>
                            <li>
                                <strong>Version 10.x.x (actuelle)</strong> : Support disponible
                            </li>
                            <li>
                                <strong>Version 9.0.x </strong> : Support disponible
                            </li>
                            <li>
                                <strong>Version 8.x.0</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 7.x.0</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 6.x.x</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 5.0.0</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 4.x.x</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 3.0.x</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 2.0.x</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Version 1.0.0</strong> : Support non disponible
                            </li>
                            <li>
                                <strong>Versions alpha et canal développement</strong> : Support non disponible
                            </li>
                        </ul>
                        <p>Concernant l'application de bureau, qui a été supprimée, aucune version n'est supportée à
                            l'heure actuelle, nous vous conseillons également de supprimer <strong>Admin Services
                                Web</strong> de votre poste de travail.</p>
                        <p>Veuillez également noter que les croix présentes dans les numéros de versions indiquent que
                            cela concerne toutes les mises à jour postées pour cette version.</p>
                    </div>
                    <div id="custom">
                        <h2>Versions modifiées</h2>
                        <p>Vous pouvez télécharger <strong>Admin Services</strong> et apporter des modifications en
                            interne ou pour plusieurs postes, cependant, celles-ci ne sont pas contrôlées, et peuvent
                            donc ne plus être supportées officiellement, contenir du code malveillant, contenir des bugs
                            non résolus, contenir d'anciennes versions de paquets (tels qu'<strong>ArticlesUI</strong>).
                        </p>
                        <p>Certaines fonctionnalités liées aux versions modifiées peuvent également être différentes du
                            système de support ou d'astuces.</p>
                    </div>
                    <div id="list">
                        <h2>Liste des mises à jour</h2>
                        <p>Cette liste a été retravaillée afin d'apporter une meilleure présentation.</p>
                        <ul>
                            <li>
                                <p>
                                    Version 10.x.x : <a href="./updates/10.0.0.html">Lire</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 9.0.x : <a href="./updates/9.0.0.html">Lire</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 8.x.0 : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 7.x.0 : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 6.x.x : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 5.0.0 : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 4.x.x : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 3.0.x : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 2.0.x : Non disponible
                                </p>
                            </li>
                            <li>
                                <p>
                                    Version 1.0.0 : Non disponible
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../../../assets/js/nav.js"></script>
</body>
</html>