<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div id="settingsDiv" class="container">
            <div id="profilePictureContain">
                <img src="" alt="Photo de profil" id="profilePicture">
                <p id="pdpChange">Modifier</p>
            </div>
            <div id="accountInformation">
                <h2>Informations de compte</h2>
                <div class="articleContain">
                    <article>
                        <h3>Nom de compte</h3>
                        <p id="usernameInformation">Impossible de charger cette information !</p>
                        <p><a href="#" id="usernameChange">Modifier cette information</a></p>
                    </article>
                    <article>
                        <h3>Token de compte</h3>
                        <p id="tokenInformation">Impossible de charger cette information !</p>
                    </article>
                    <article>
                        <h3>Email</h3>
                        <p id="emailInformation">Impossible de charger cette information !</p>
                        <p><a href="#" id="emailChange">Modifier cette information</a></p>
                    </article>
                    <article>
                        <h3>Mot de passe</h3>
                        <p id="passwordInformation">Impossible de charger cette information !</p>
                        <p><a href="#" id="passwordChange">Modifier cette information</a></p>
                    </article>
                    <article id="updateAccount">
                        <h3>Mise à jour de compte</h3>
                        <p id="accountVersion"></p>
                        <p>Mettez à jour votre compte et ses fonctionnalités.</p>
                        <p><a href="#" id="updatingAccount">Rechercher et mettre à jour</a></p>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../assets/js/logout-settings.js"></script>
    <script src="../../assets/js/account-information.js"></script>
    <script src="../../assets/js/pdpChange.js"></script>
    <script>
        let pdp = localStorage.getItem("pdp");
        let profilePicture = document.querySelector("#profilePicture");

        if (pdp === undefined || pdp === null) {
            profilePicture.src = "https://www.photoprof.fr/images_dp/photographes/profil_vide.jpg";
        } else {
            profilePicture.src = pdp;
        }
    </script>
    <script>
        const usernameChange = document.querySelector("#usernameChange");
        const emailChange = document.querySelector("#emailChange");
        const passwordChange = document.querySelector("#passwordChange");
        const updatingAccount = document.querySelector("#updatingAccount");

        function usernameChangeSettings() {
            let result = prompt("Entrez votre nouveau nom d'utilisateur");
            if (result === undefined || result === null || result === "") {
                usernameChangeSettings();
            } else {
                localStorage.setItem("username", result);
                window.location.reload();
            }
        }

        function emailChangeSettings() {
            let result = prompt("Entrez votre nouvelle adresse email");
            if (result === undefined || result === null || result === "") {
                emailChangeSettings();
            } else {
                localStorage.setItem("email", result);
                window.location.reload();
            }
        }

        function passwordChangeSettings() {
            let result = prompt("Entrez votre nouveau mot de passe");
            if (result === undefined || result === null || result === "") {
                passwordChangeSettings();
            } else {
                localStorage.setItem("password", result);
                window.location.reload();
            }
        }

        function updateTheAccount() {
            let result = confirm("Rechercher et mettre à jour ?");
            if (result) {
                if (!localStorage.getItem("status") || !localStorage.getItem("functionPack")) {
                    let choice = confirm("Mise à jour disponible, appliquer cette mise à jour ?");
                    if (choice) {
                        localStorage.setItem("status", "logged");
                        localStorage.setItem("setup", false);
                        localStorage.setItem("updated", true);
                        localStorage.setItem("functionPack", true);
                        localStorage.removeItem("group");
                        alert("Mise à jour appliquée !");
                    }
                } else {
                    alert("Aucunes mises à jour disponible !");
                }
            }
        }

        usernameChange.addEventListener("click", usernameChangeSettings);
        emailChange.addEventListener("click", emailChangeSettings);
        passwordChange.addEventListener("click", passwordChangeSettings);
        updatingAccount.addEventListener("click", updateTheAccount);
    </script>
    <script src="../../assets/js/load-pfp.js"></script>
    <script>
        accountVersion = document.querySelector("#accountVersion");
        accountVersion.innerHTML = "<strong>Version : </strong> " + localStorage.getItem("accountVersion");
    </script>
</body>
</html>