<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../assets/css/settings/admin.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="../applications/settings.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="about">
            <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="aboutImg">
        </div>
        <div id="settingsDiv" class="container">
            <h1>Paramètres locaux</h1>
            <h2>Fonctionnement</h2>
            <div class="articleContain">
                <article>
                    <h3>Rétrograder</h3>
                    <div class="details none">
                        <p>Rétrograder <strong>Admin Services</strong> vers <strong>Google Fake Admin Panel</strong>.</p>
                    </div>
                    <div class="buttons">
                        <a href="#" id="gfapDown" class="button semi" style="width: 84%;">Commencer</a>
                        <a onclick="toggleDetails(this)" class="button semi" style="width: 15%;" title="Obtenir des informations">
                            <i class="ri-information-line"></i>
                        </a>
                    </div>
                </article>
                <article>
                    <h3>Réinitialisation</h3>
                    <div class="details none">
                        <p>Réinitialiser <strong>Admin Services</strong> pour effacer les données utilisateurs.</p>
                    </div>
                    <div class="buttons">
                        <a href="../security/erase-account.html" class="button semi" style="width: 84%;">Modifier dans le centre de sécurité</a>
                        <a onclick="toggleDetails(this)" class="button semi" style="width: 15%;" title="Obtenir des informations">
                            <i class="ri-information-line"></i>
                        </a>
                    </div>
                </article>
                <!-- <article id="dev">
                    <h3>Mode développeur</h3>
                    <div class="details none">
                        <p>Activez le mode développeur pour accéder aux outils supplémentaires.</p>
                    </div>
                    <div class="buttons">
                        <a href="#" id="devModeSettings" class="button semi" style="width: 84%;">Activer</a>
                        <a onclick="toggleDetails(this)" class="button semi" style="width: 15%;" title="Obtenir des informations">
                            <i class="ri-information-line"></i>
                        </a>
                    </div>
                </article> -->
            </div>
            <h2>Informations</h2>
            <div class="articleContain">
                <article>
                    <h3>Version</h3>
                    <p>Vous utilisez actuellement <strong>Admin Services</strong> version <strong id="update">10.4.1</strong>.</p>
                    <a href="../support/category/updates/10.0.0.html" class="button">En savoir plus</a>
                </article>
                <article>
                    <h3>Interface graphique</h3>
                    <p>ArticlesUI 3.0</p>
                </article>
            </div>
            <h2>Nouveautés</h2>
            <div id="news" class="articleContain">

            </div>
        </div>
    </main>
    <script type="text/javascript" src="../../assets/js/nav.js"></script>
    <script type="text/javascript" src="../../assets/js/development/downgrade.js"></script>
    <script type="text/javascript" src="../../assets/js/applications/news.js"></script>
    <script type="text/javascript" src="../../assets/js/development/dev-mode-settings.js"></script>
    <script type="text/javascript" src="../../assets/js/basic-functions.js"></script>
</body>
</html>
