<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <a href="../panel.html">Accueil</a>
            </li>
            <li>
                <a href="../settings.html">Paramètres</a>
            </li>
            <li>
                <a href="../support/support.html">Support</a>
            </li>
            <li>
                <a href="../services.html">Services</a>
            </li>
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Informations et paramètres d'Admin Services</h2>
        <h3>Informations</h3>
        <div class="articleContain">
            <article>
                <h3>Version d'Admin Services</h3>
                <p id="latestVersion"></p>
            </article>
            <article>
                <h3>État d'Admin Services Plus</h3>
                <p>Admin Services Plus n'est plus disponible</p>
            </article>
        </div>
        <h3>Paramètres</h3>
        <div class="articleContain">
            <article>
                <h3>Thème sombre</h3>
                <p>Non disponible pour le moment</p>
            </article>
            <article>
                <h3>Fonds d'écrans</h3>
                <p><a href="#" class="button" id="wallpaperAction">Définir</a></p>
            </article>
            <article>
                <h3>Réinitailiser Admin Services</h3>
                <p><a href="#" class="button" id="resetAction">Réinitailiser</a></p>
            </article>
        </div>
    </div>
</main>
<footer>
    <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
</footer>
<script src="../../assets/js/logout-settings.js"></script>
<script>
    let localVersion = localStorage.getItem("version");
    let latestVersion = document.querySelector("#latestVersion");
    latestVersion.innerHTML = "<strong>Version :</strong> " + localVersion;
</script>
<script>
    let wallpaperAction = document.querySelector("#wallpaperAction");
    let resetAction = document.querySelector("#resetAction");

    function changerFondEcran() {
      let url = prompt("Entrez l'URL de l'image :");
      if (url) {
        localStorage.setItem("backgroundURL", url);
        document.body.style.backgroundImage = "url('" + url + "')";
      } else {
        localStorage.removeItem("backgroundURL");
        document.body.style.backgroundImage = "none";
        document.body.style.backgroundColor = "white";
      }
    }

    function reset() {
        let choice = confirm("Réinitialiser Admin Services ? Toutes vos informations seront effacées");
        if (choice) {
            window.location.href = "./reset.html";
        }
    }

    resetAction.addEventListener("click", reset);
    wallpaperAction.addEventListener("click", changerFondEcran);
</script>
<script src="../../assets/js/load-pfp.js"></script>
</body>
</html>