<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </div>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="../panel.html" title="Retour à l'accueil"><i class="ri-home-2-fill"></i></a>
                </li>
                <li>
                    <a href="../applications/settings.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Paramètres de l'accueil</h1>
        <h2>Apparence</h2>
        <div class="articleContain">
            <article>
                <h3>Changer de thème</h3>
                <p>Appuyez sur le bouton ci-dessous pour changer de thème.</p>
                <a href="#" class="button denied">Non disponible</a>
            </article>
            <article>
                <h3>Changer de fond d'écran</h3>
                <p>Appuyez sur le bouton ci-dessous pour changer de fond d'écran.</p>
                <a href="./wallpapers.html" class="button">Modifier</a>
            </article>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights
            reserved.</p>
    </footer>
    <script src="../../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>

</html>
