<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Services</title>
</head>
<body>
    <h2>Réinitailisation d'Admin Services</h2>
    <p>Votre compte <strong>Admin Services</strong> et ses fonctionnalités sont en court de réinitialisation.</p>
    <p>Voici les informations qui seront effacés :</p>
    <ul>
        <li>
            Admin Services Plus
        </li>
        <li>
            Informations de connexion
        </li>
        <li>
            Fonds d'écran actif
        </li>
        <li>
            Paramètres de comptes SHOPEI (nom d'utilisateur)
        </li>
    </ul>
    <p>Si la réinitailisation à lieu, contactez <a href="mailto:aielloenio@icloud.com">l'équipe de développeurs</a></p>
    <p id="resetTimer">Démarrage</p>
    <div id="console">

    </div>
    <script src="../../assets/js/reset.js"></script>
</body>
</html>