<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Mise à jour</h2>
        <p><strong>Fonctionnement</strong></p>
        <div class="articleContain">
            <article>
                <h3>Choisissez une version</h3>
                <p>Sélectionnez une version qui, une fois le site chargé, sera chargé.</p>
            </article>
            <article>
                <h3>Simple</h3>
                <p>Choisissez la version, déconnectez-vous, et profitez !</p>
            </article>
            <article>
                <h3>Revenir à la dernière version</h3>
                <p>Accédez à la console de développement, sélectionnez ensuite les localStorage (généralement dans <strong>session</strong>)</p>
                <ul>
                    <li>
                        versionCustom
                    </li>
                </ul>
            </article>
        </div>
        <p><strong>Choisir sa version</strong></p>
        <div class="articleContain">
            <article>
                <h3>Oups</h3>
                <p>Pour le moment, utilisez la console pour définir la version à utiliser.</p>
                <p>Pour en savoir plus, consultez la <strong>documentation</strong>.</p>
            </article>
<!--            <article>-->
<!--                <h3>Version 6.1.2</h3>-->
<!--                <p>Cette mise à jour apporte de nouvelles fonctionnalités et une correction de problèmes. Basée sur la version <strong>6.0.0</strong>.</p>-->
<!--                <p><a href="#" id="v6" class="button">Sélectionner</a></p>-->
<!--            </article>-->
        </div>
        <p><strong>Support</strong></p>
        <div class="articleContain">
            <article>
                <h3>Version 7 et 6</h3>
                <p>Supportées.</p>
            </article>
            <article>
                <h3>Version 5 et antérieur</h3>
                <p>Hors support.</p>
            </article>
        </div>
        <p><strong>Documentation</strong></p>
        <div class="articleContain">
            <article>
                <h3>Utiliser une ancienne version via la console</h3>
                <p>Utilisez le code <strong>localStorage.setItem("versionCustom", "6.1.2")</strong> pour définir la version recommandée <strong>6.1.2</strong>.</p>
                <p>Ensuite, déconnectez-vous.</p>
                <p>Vous pouvez changer le numéro de version par une version compatible.</p>
            </article>
        </div>
        <p><strong>Version compatible</strong></p>
        <div class="articleContain">
            <article>
                <h3>Version 7.1.0</h3>
                <p>Version par défaut : prise en charge sans modification.</p>
            </article>
            <article>
                <h3>Version 6.1.2</h3>
                <p>Dernière version compatible avec le numéro de version 6.</p>
            </article>
        </div>
    </div>
</main>
<footer>
    <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a
            href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
</footer>
<script src="../../assets/js/logout-settings.js"></script>
<script src="../../assets/js/navbar-change.js"></script>
<script src="../../assets/js/button-change.js"></script>
<script src="../../assets/js/article-change.js"></script>
<script src="../../assets/js/links-change.js"></script>
<script src="../../assets/js/load-pfp.js"></script>
<script src="../../assets/js/apply-color.js"></script>
</body>
</html>