<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../assets/css/settings/wallpapers.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="../applications/settings.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Fonds d'écran</h1>
        <p>Sélectionnez un fond d'écran, il sera appliqué sur votre page d'accueil. Cliquez <span id="remove">ici</span> pour supprimer un fond d'écran actif.</p>
        <p id="background"></p>
        <h2>Admin Services</h2>
        <div id="as" class="articleContain">
            
        </div>
        <h2>Nature</h2>
        <div id="nature" class="articleContain">

        </div>
        <h2>Urbain</h2>
        <div id="city" class="articleContain">

        </div>
        <h2>Nuit</h2>
        <div id="night" class="articleContain">

        </div>
        <h2>Abstrait</h2>
        <div id="abstract" class="articleContain">

        </div>
        <p id="information"><small>Fonds d'écran fournis par <a href="https://pexels.com/fr-fr/" target="_blank">Pexels</a>.</small></p>
    </main>
    <script type="text/javascript" src="../../assets/js/nav.js"></script>
    <script type="text/javascript" src="../../assets/js/wallpapers-components.js"></script>
</body>
</html>
