<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/utilities/authorize.css">
</head>
<body>
    <div class="container">
        <div id="autorisation" class="content">
            <img src="../../assets/img/logo.png" alt="Logo">
            <p id="app-indication"></p>
            <p id="continue">En continuant, elle pourra :</p>
            <ul id="app-autorisation">

            </ul>
            <div id="buttons">
                <button id="app-refuse">Refuser</button>
                <button id="app-accept">Autoriser</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/js/authorize.js"></script>
</body>
</html>