<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/applications/security.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="../applications/security.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Centre de sécurité</h1>
        <h2>Effacer votre compte</h2>
        <p><strong>Attention :</strong> La suppression de votre compte entraînera la perte totale de vos informations.
            Vous devrez peut-être recréer un compte pour accéder à <strong>Admin Services</strong>.</p>
        <p>Pour cette opération, vous aurez besoin de :</p>
        <ul>
            <li>Votre adresse e-mail</li>
            <li>Votre mot de passe</li>
        </ul>
        <p>La suppression de votre compte supprimera les informations suivantes :</p>
        <ul>
            <li>Informations de personnalisation d'<strong>Admin Services</strong></li>
            <li>Informations du compte utilisateur</li>
            <li>Accès aux fonctionnalités expérimentales</li>
        </ul>
        <p><a href="#" id="erase" class="button">Effacer</a></p>
    </main>
    <script type="text/javascript" src="../../assets/js/nav.js"></script>
    <script type="text/javascript" src="../../assets/js/authentification/erase-account.js"></script>
</body>
</html>