<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <a href="../panel.html">Accueil</a>
            </li>
            <li>
                <a href="../settings.html">Paramètres</a>
            </li>
            <li>
                <a href="../support/support.html">Support</a>
            </li>
            <li>
                <a href="../services.html">Services</a>
            </li>
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div class="container">
            <h2>Annonces</h2>
            <h3>Fin d'Admin Services Plus</h3>
            <p>Bonjour.</p>
            <p>Suite à la version <strong>5.0.0</strong> d'<strong>Admin Services</strong>, la fonction <strong>Admin Services Plus</strong> a disparue du service.</p>
            <p>Les fonctionnalités comme les bêta en développement, l'accès à certains services (<strong>Admin Services Pro</strong>...) ont été définitivement retirés du service.</p>
            <p>De plus, <strong>Admin Services Plus</strong> n'était pas forcément utile, il est donc normal que cette fonctionnalité soit supprimé du service.</p>
            <p>Nous essayons donc de faire un grand nettoyage parmis les fonctionnalités d'<strong>Admin Services</strong> sans en modifier la principale fonction.</p>
            <p>Cependant, plusieurs nouvelles fonctionnalités pourraient arrivées, tels que les mises à jour manuelle du compte, de nouvelles fonctionnalités liées à <strong>SHOPEI</strong></p>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../assets/js/logout-settings.js"></script>
    <script src="../../assets/js/account-information.js"></script>
    <script src="../../assets/js/load-pfp.js"></script>
</body>
</html>