<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="./announcements.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Mise à jour exceptionnelle</h2>
            <p>Chers utilisateurs d'<strong>Admin Services</strong>,</p>
            <p><strong>Admin Services</strong> vient de bénéficier d'une mise à jour de fonctionnalité exceptionnelle. Son but étant de corriger la grande majorité observée sur le service (bugs, fautes d'orthographe, inconsistance, performance...).</p>
            <p>Cette mise à jour a vu son développement commencer le 13 mai 2025.</p>
            <h3>Pourquoi cette mise à jour ?</h3>
            <p>Cette mise à jour a été envisagée pour répondre aux derniers besoins des utilisateurs avant le développement de la nouvelle version en <strong>Laravel</strong>.</p>
            <h3>Quoi de nouveau dans cette mise à jour ?</h3>
            <ul>
                <li>
                    Tri dans les fichiers et optimisation (CSS et JavaScript)
                </li>
                <li>
                    Correction d'une grande partie d'inconsistances
                </li>
                <li>
                    Nouveaux fonds d'écran et prise en charge de ces derniers sur la page de verrouillage
                </li>
                <li>
                    Correction d'une grande quantité de bugs
                </li>
                <li>
                    Les fautes d'orthographes ont été corrigées
                </li>
            </ul>
            <p>Nous vous remercions pour votre fidélité.</p>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="../../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../../assets/js/load-announcements.js"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>
</html>