<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="./announcements.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Avenir du service</h2>
            <p>Chers utilisateurs d'<strong>Admin Services</strong>,</p>
            <p><strong>Admin Services</strong> vient de bénéficier sa dernière mise à jour de fonctionnalité.</p>
            <h3>Qu'est-ce que cela signifie ?</h3>
            <p>Cette version d'<strong>Admin Services</strong> ne bénéficiera pas de fonctionnalités supplémentaires.</p>
            <p>Les seules mises à jour qui seront disponible seront :</p>
            <ul>
                <li>
                    Ajout, modification et suppression d'application
                </li>
                <li>
                    Correction de bugs
                </li>
            </ul>
            <p>Cette décision fait suite à une nouvelle version majeure de ce projet : le passage en PHP.</p>
            <p>Une réécriture totale est planifiée, permettant de faire un grand ménage.</p>
            <p>Cette nouvelle version bénéficiera de base de données, de nouvelles fonctionnalités, d'un nouveau design plus agréable, d'une correction total du code (bonnes pratiques, optimisation, vie privée, sécurité, orthographe…).</p>
            <h3>Quoi de neuf dans cette mise à jour ?</h3>
            <ul>
                <li>
                    Un nouveau logo est disponible
                </li>
                <li>
                    Une nouvelle page d'accueil plus simple
                </li>
                <li>
                    Nouvelle version mobile
                </li>
                <li>
                    Le bouton d'accueil de la barre de navigation est déplacé dans le logo
                </li>
                <li>
                    Les fautes d'orthographes ont été corrigées
                </li>
                <li>
                    Quelques changements mineurs dans le code pour simplifier sa maintenance
                </li>
            </ul>
            <p>Trois fonctionnalités retirées : OOBE, mode sans échec, admin-utility.</p>
            <p>Nous vous remercions pour votre fidélité.</p>
            <h3>Nous contacter</h3>
            <ul>
                <li>
                    <a href="https://github.com/CorundumProject" target="_blank">GitHub de Corundum</a>
                </li>
                <li>
                    <a href="https://github.com/enioaiello" target="_blank">GitHub du développeur</a>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="../../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../../assets/js/load-announcements.js"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>
</html>