<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="./announcements.html" title="Retourner au menu de l'application"><i class="ri-folder-open-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Nouveau support</h2>
            <p>Cher(e)s utilisateurs d'<strong>Admin Services</strong>,</p>
            <p>Nous sommes ravis de vous annoncer une mise à jour majeure de notre plateforme, conçue pour améliorer significativement votre expérience. Cette mise à jour a été déployée pour tous les utilisateurs et permettra d'apporter une meilleure assistance en cas de besoin.</p>
            <h3>Nouveautés</h3>
            <ul>
                <li>
                    <p>Les questions principales sur les fonctionnalités d'<strong>Admin Services</strong> seront proposées systématiquement</p>
                </li>
                <li>
                    <p>Les informations importantes pour les développeurs seront également indiquées dans une catégorie supplémentaire</p>
                </li>
                <li>
                    <p>Chaque catégorie proposera les solutions attendues</p>
                </li>
                <li>
                    <p>Les réponses seront plus détaillées et plus précises</p>
                </li>
            </ul>
            <p>Nous espérons que cette mise à niveau majeure du support permettra de répondre à vos besoins.</p>
        </div>
    </main>
    <script type="text/javascript" src="../../assets/js/nav.js"></script>
    <script type="text/javascript" src="../../assets/js/applications/announcements.js"></script>
</body>
</html>