<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services - Admin</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="brand">
                    <img src="../assets/img/logo.png" alt="Logo" height="30px"> Admin Services
                </li>
                <div class="items">
                    <li>
                        <a href="./admin.html">Accueil</a>
                    </li>
                    <li>
                        <a href="./settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="./services.html">Services</a>
                    </li>
                    <li>
                        <a href="../support/main.html">Support</a>
                    </li>
                    <li>
                        <a onclick="logout()">Déconnexion</a>
                    </li>
                </div>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>
    <main>
        <div id="mobileError">
            <h2>Information</h2>
            <p>Il semblerait que vous avez réussi à accéder à <strong>Admin Services</strong> sur un appareil non supporté.</p>
            <p>Merci de signaler le bug aux <a href="mailto:aielloenio@icloud.com">développeurs</a>.</p>
        </div>
        <div class="container">
            <h2 id="welcomeText">Données non renseignées</h2>
            <h3>Que souhaitez-vous faire aujourd'hui ?</h3>
            <ul>
                <li>
                    <a href="./settings.html">Paramètres</a>
                </li>
                <li>
                    <a href="./services.html">Services</a>
                </li>
                <li>
                    <a href="../support/app.html">Obtenir l'application officielle</a>
                </li>
                <li>
                    <a href="../support/main.html">Obtenir de l'aide</a>
                </li>
                <li>
                    <a onclick="logout()">Déconnectez-vous</a>
                </li>
            </ul>
            <p>Vous pouvez également naviguer à travers le site avec la barre de navigation.</p>
            <p>Vous désirez en savoir plus sur cette version ? <a href="../support/update.html">Consultez le centre de mises à jour</a>.</p>
            <h2>Mise à jour</h2>
            <p>La version 3.0.0 a été appliquée à <strong>Admin Services</strong>. Découvrez ce qu'il y a de nouveau <a href="../support/update-3.html">ici</a>.</p>
            <h2>Nouvelle annonce</h2>
            <p>Une annonce vient d'être publiée, cliquez <a href="../announcements/switch-corundum.html">ici</a> pour en savoir plus !</p>
            <h2>À propos</h2>
            <img src="../assets/img/version.png" alt="Version 3.0.0 d'Admin Services" width="25%;">
        </div>
    </main>
    <footer>
        <p>&copy;2023, Admin Services. By <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a></p>
    </footer>
    <script src="../assets/js/logout.js"></script>
    <script src="../assets/js/logCheck.js"></script>
    <script src="../assets/js/mobileCheck.js"></script>
</body>
</html>