<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
<!--            <li>-->
<!--                <a href="./panel.html">Accueil</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./settings.html">Paramètres</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./support/support.html">Support</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./services.html">Services</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./apps.html">Applications</a>-->
<!--            </li>-->
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h2>Applications</h2>
    <p><strong>Intégrés</strong></p>
    <div class="articleContain">
        <article>
            <h3>Centre de sécurité</h3>
            <p><strong>Intégrée :</strong> Consultez l'état de sécurité de votre compte <strong>Admin Services</strong>.</p>
            <a href="./security.html" class="button">Accéder</a>
        </article>
        <article>
            <h3>Paramètres</h3>
            <p><strong>Intégrée :</strong> Modifiez le fonctionnement et vos paramètres de compte.</p>
            <a href="./settings.html" class="button">Accéder</a>
        </article>
        <article>
            <h3>Support</h3>
            <p><strong>Intégrée :</strong> Obtenez tout le support nécessaire sur l'utilisation d'<strong>Admin Services</strong> et ses
                fonctions.</p>
            <p><a href="./support/support.html" class="button">Accéder</a></p>
        </article>
        <article>
            <h3>Services</h3>
            <p><strong>Intégrée :</strong> Découvrez des services recommandés et intégrés à <strong>Admin Services</strong>.</p>
            <p><a href="./services.html" class="button">Accéder</a></p>
        </article>
    </div>
    <p><strong>Externe</strong></p>
    <div class="articleContain">
        <article>
            <h3>Vador</h3>
            <p>Découvrez des applications FOSS et gratuites !</p>
            <a href="./vador.html" class="button">Accéder</a>
        </article>
        <article>
            <h3>PassSearch</h3>
            <p>Recherchez de l'information via Google</p>
            <a href="./local-applications/passsearch.html" class="button">Accéder</a>
        </article>
    </div>
</main>
<footer>
    <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a
            href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
</footer>
<script src="../assets/js/logout.js"></script>
<script src="../assets/js/load-pfp.js"></script>
</body>
</html>