<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Services | Informations</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <style>
        body {
            margin: 1%;
        }

        img {
            width: 15%;
            float: left;
        }

        .content {
            float: right;
            width: 83%;
        }

        .clear {
            clear: both;
        }
    </style>
</head>
<body>
    <img src="../assets/img/logo.png">
    <div class="content">
        <h3>Déconnexion sécurisée</h3>
        <p>Êtes-vous vraiment sûr de vouloir vous déconnecter ?</p>
        <button id="deco-btn">Je suis sûr, me déconnecter</button>
        <button id="stay-btn" autofocus>Rester connecté</button>
    </div>
    <div class="clear"></div>
    <script>
        const decoBtn = document.getElementById('deco-btn');
        const stayBtn = document.getElementById('stay-btn');
        const username = localStorage.getItem("username");

        decoBtn.addEventListener('click', function () {
            let confirm = prompt("Sécurité : Entrez votre nom d'utilisateur.");
            if (confirm === username) {
                alert("Déconnecté avec succès !");
                localStorage.removeItem("group");
                localStorage.removeItem("token");
                localStorage.removeItem("username");
                window.location.assign("../index.html");
            } else {
                alert("Nom d'utilisateur non valide !");
            }
        });

        stayBtn.addEventListener('click', function () {
            window.location.assign("./admin.html");
        });

    </script>
</body>
</html>