<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Services | Informations</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <style>
        body {
            margin : 1%;
        }

        img {
            width: 15%;
            float: left;
        }

        .content {
            float: right;
            width: 83%;
        }

        .clear {
            clear: both;
        }
    </style>
</head>
<body>
    <img src="../assets/img/logo.png">
    <div class="content">
        <h3>Déconnexion sécurisée</h3>
        <p>Êtes-vous vraiment sûr de vouloir vous déconnecter ?</p>
        <a href="" class="button"></a>       
    </div>
    <div class="clear"></div>
    <script src="../assets/js/dev.js"></script>
    <script src="../assets/js/info.js"></script>
</body>
</html>