<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Services | Informations</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <style>
        img {
            margin: 0 1%;
            width: 15%;
            float: left;
        }

        .content {
            float: right;
            width: 83%;
        }
    </style>
</head>
<body>
    <img src="../assets/img/logo.png">
    <div class="content">
        <h3>Informations de navigation</h3>
        <div id="browser-info"></div>
        <h3>Autres informations</h3>
        <p>Languages : HTML, CSS, JS</p>
        <p>Admin Services 3.0.2 + GFAP 3.0(p)</p>
        <p>Hébergeur : GitHuh Pages</p>
        <p id="account"></p>
    </div>
    <script src="../assets/js/dev.js"></script>
    <script src="../assets/js/info.js"></script>
</body>
</html>