<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Services - Format téléphone non pris en charge</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <div class="container">
        <h2>Format téléphone non pris en charge</h2>
        <p>Nous avons détectés que vous utilisez un appareil <strong>non compatible</strong> ce site.</p>
        <p>Pour des raisons de simplicité, le format téléphone n'est <strong>pas pris en charge</strong> sur ce site.</p>
        <p><a href="./mobileAlert.html" class="button">Recommencer</a></p>
    </div>
    <script>
        if (window.innerWidth >= 768) {
            window.location.href=("../index.html");
        }
    </script>
</body>
</html>