<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/articlesui.css">
    <link rel="stylesheet" href="../assets/css/notifications.css">
    <link rel="icon" href="../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="panel.html" id="brand">
                <img src="../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="#" title="Retour" id="backPage"><i class="ri-arrow-left-line"></i></a>
                </li>
                <li>
                    <a href="./panel.html" title="Retour à l'accueil"><i class="ri-home-2-fill"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Notifications</h1>
        <p id="count">Les notifications sont désactivées. Pour les réactiver, cliquez <a href="./settings/notifications.html">ici</a>.</p>
        <div id="notificationsList" class="articleContain">

        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights
            reserved.</p>
    </footer>
    <script type="text/javascript" src="../assets/js/notifications-list.js"></script>
    <script type="text/javascript" src="../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../assets/js/back.js"></script>
</body>

</html>
