<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <a href="./panel.html">Accueil</a>
            </li>
            <li>
                <a href="./settings.html">Paramètres</a>
            </li>
            <li>
                <a href="./support/support.html">Support</a>
            </li>
            <li>
                <a href="./services.html">Services</a>
            </li>
            <li>
                <a href="./apps.html">Applications</a>
            </li>
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <div id="quickActions">
            <h2>Accueil</h2>
            <h3 id="welcomeText">null</h3>
            <div id="recommandes">
                <p><strong>Recommandés</strong></p>
                <div class="articleContain">
                    <article>
                        <h3>Paramètres</h3>
                        <p>Changez les paramètres d'<strong>Admin Services</strong> et accédez à certaines informations.</p>
                        <p><a href="./settings.html" class="button">Accéder</a></p>
                    </article>
                    <article>
                        <h3>Support</h3>
                        <p>Obtenez tout le support nécessaire sur l'utilisation d'<strong>Admin Services</strong> et ses
                            fonctions.</p>
                        <p><a href="./support/support.html" class="button">Accéder</a></p>
                    </article>
                    <article>
                        <h3>Services</h3>
                        <p>Découvrez des services recommandés et intégrés à <strong>Admin Services</strong>.</p>
                        <p><a href="./services.html" class="button">Accéder</a></p>
                    </article>
                    <article>
                        <h3>Centre de sécurité</h3>
                        <p>Consultez les suggestions de sécurité pour votre compte.</p>
                        <p><a href="./security.html" class="button">Accéder</a></p>
                    </article>
                </div>
            </div>
            <div id="services">
                <p><strong>Services</strong></p>
                <div class="articleContain">
                    <article>
                        <h3>Aucuns services</h3>
                    </article>
                </div>
            </div>
            <div id="support">
                <p><strong>Support</strong></p>
                <div class="articleContain">
                    <article>
                        <h3>Connexion et utilisation des comptes</h3>
                        <p><a href="./support/login.html" class="button">Découvrir</a></p>
                    </article>
                    <article>
                        <h3>Passage en Google Mode</h3>
                        <p><a href="./support/google-mode.html" class="button">Découvrir</a></p>
                    </article>
                    <article>
                        <h3>Tout le support</h3>
                        <p><a href="./support/support.html" class="button">Découvrir</a></p>
                    </article>
                </div>
            </div>
            <div id="annonces">
                <p><strong>Annonces</strong></p>
                <div class="articleContain">
                    <article>
                        <h3>Passage à la 7.0.0</h3>
                        <p>Obtenez des informations sur la future mise à niveau majeure.</p>
                        <p><a href="support/announcements/7.0.0.html" class="button">Lire</a></p>
                    </article>
                    <article>
                        <h3>Mises à jour des comptes</h3>
                        <p>Obtenez des mises à jour pour les anciens comptes directement sur Admin Services.</p>
                        <p><a href="support/announcements/update-account.html" class="button">Lire</a></p>
                    </article>
                    <article>
                        <h3>Ajout des applications internes</h3>
                        <p>En savoir plus sur la nouvelle fonctionnalité d'application interne d'<strong>Admin Services</strong>.</p>
                        <p><a href="support/announcements/in-app.html" class="button">Lire</a></p>
                    </article>
                    <article>
                        <h3>Fin d'Admin Services Plus</h3>
                        <p>En savoir plus sur les pertes d'<strong>Admin Services Plus</strong> et de ses fonctionnalités.
                        </p>
                        <p><a href="support/announcements/eol-plus.html" class="button">Lire</a></p>
                    </article>
                </div>
            </div>
            <p id="applicationsTitle"><strong>Applications</strong></p>
            <div class="articleContain">
                <article>
                    <h3>Vador</h3>
                    <a href="./vador.html" class="button">Accéder</a>
                </article>
                <article>
                    <h3>Centre de sécurité</h3>
                    <a href="./security.html" class="button">Accéder</a>
                </article>
                <article>
                    <h3>Paramètres</h3>
                    <a href="./settings.html" class="button">Accéder</a>
                </article>
                <article>
                    <h3>Toutes les applications</h3>
                    <a href="./apps.html" class="button">Accéder</a>
                </article>
            </div>
            <div id="selectElements">
                <form>
                    <label>
                        <input type="checkbox" class="checkbox" data-target="recommandes" checked> Recommandés
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" data-target="services" checked> Services
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" data-target="annonces" checked> Annonces
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" data-target="support" checked> Support
                    </label>
                </form>
            </div>
        </div>
        <div id="adminInformation">
            <h3>À propos</h3>
            <img src="../assets/img/logo.png" alt="Logo Admin Services" id="adminLogo">
            <p id="information"><small></small></p>
            <p><a href="./support/updates/update.html">Consulter les mises à jour</a></p>
        </div>
        <div class="clear"></div>
    </div>
</main>
<footer>
    <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a
            href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
</footer>
<script src="../assets/js/panel.js"></script>
<script src="../assets/js/logout.js"></script>
<script src="../assets/js/wallpaper.js"></script>
<script src="../assets/js/load-pfp.js"></script>
</body>
</html>