<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
    <link rel="stylesheet" href="../assets/css/articlesui.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>

<body>
    <header>
        <nav>
            <div id="brand">
                <img src="../assets/img/logo.png" alt="Logo Admin Services" id="brandIcon">
            </div>
            <ul id="navItems">
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="panel">
            <h1 id="welcomeText"></h1>
            <div id="recommandes">
                <h2>Accueil</h2>
                <div class="articleContain">
                    <article>
                        <h3>Paramètres de l'accueil</h3>
                        <p>Changez les paramètres de l'accueil d'<strong>Admin Services</strong>.</p>
                        <p><a href="../views/settings/panel.html" class="button">Consulter</a></p>
                    </article>
                    <article>
                        <h3>Bibliothèque d'applications</h3>
                        <p>Accédez à la bibliothèque d'applications.</p>
                        <p><a href="applications/apps.html" class="button">Consulter</a></p>
                    </article>
                    <article>
                        <h3>Annonces</h3>
                        <p>Accédez à la liste d'annonces.</p>
                        <p><a href="announcements/announcements.html" class="button">Consulter</a></p>
                    </article>
                    <article>
                        <h3>Support</h3>
                        <p>Accédez au support, pour obtenir de l'aide.</p>
                        <p><a href="support/support.html" class="button">Consulter</a></p>
                    </article>
                    <article>
                        <h3>Astuces</h3>
                        <p>Accédez à la liste d'astuces.</p>
                        <p><a href="applications/hints.html" class="button">Consulter</a></p>
                    </article>
                </div>
            </div>
            <div id="applications">
                <h2>Applications</h2>
                <div class="articleContain">
                    <article>
                        <h3>Paramètres</h3>
                        <p>Changez les paramètres d'<strong>Admin Services</strong> et accédez à certaines informations.
                        </p>
                        <p><a href="applications/settings.html" class="button">Consulter</a></p>
                    </article>
                    <article>
                        <h3>Support</h3>
                        <p>Obtenez tout le support nécessaire sur l'utilisation d'<strong>Admin Services</strong> et ses
                            fonctions.</p>
                        <p><a href="support/support.html" class="button">Consulter</a></p>
                    </article>
                    <article>
                        <h3>Centre de sécurité</h3>
                        <p>Consultez les suggestions de sécurité pour votre compte.</p>
                        <p><a href="applications/security.html" class="button">Consulter</a></p>
                    </article>
                    <article id="devMode">
                        <h3>Panneau de développement</h3>
                        <p>Obtenez l'accès aux outils de développement pour vos applications et bien d'autres !</p>
                        <a href="applications/developer.html" class="button">Consulter</a>
                    </article>
                    <article>
                        <h3>Astuces</h3>
                        <p>Apprenez à utiliser <strong>Admin Services</strong> et découvrez-en plus !</p>
                        <a href="applications/hints.html" class="button">Consulter</a>
                    </article>
                    <article>
                        <h3>Toutes les applications</h3>
                        <p>Accédez à la bibliothèque d'applications.</p>
                        <a href="applications/apps.html" class="button">Consulter</a>
                    </article>
                </div>
            </div>
        </div>
        <div id="widgets">
            <h2>Widgets</h2>
            <div class="articleContain">
                <article>
                    <h3>Calendrier</h3>
                    <p id="dateTime"></p>
                    <span id="refreshDate" class="button">Actualiser</span>
                </article>
                <article>
                    <h3>Météo</h3>
                    <div id="weather">

                    </div>
                    <span id="refreshWeather" class="button">Actualiser</span>
                </article>
                <article>
                    <h3>Notifications</h3>
                    <ul id="notificationList">
                        <p>Aucunes notifications pour l'instant.</p>
                    </ul>
                    <div class="buttons">
                        <span id="refreshNotifications" class="button semi">Actualiser</span>
                        <a href="#" id="moreNotifications" class="button semi second">Toutes les notifications</a>
                    </div>
                </article>
            </div>
        </div>
        <div id="services">
            <h2>Services</h2>
            <div class="articleContain">
                <article>
                    <h3>Miwa.lol</h3>
                    <p>Miwa.lol est un site de création de "biographie social", permettant d'intégrer des liens, informations et bien plus dans un seul endroit.</p>
                    <p><a href="https://miwa.lol/" target="_blank" class="button">Consulter</a></p>
                </article>
            </div>
        </div>
        <div id="annonces">
            <h2>Annonces</h2>
            <div class="articleContain">
                <article>
                    <h3>Nouveau support</h3>
                    <p>Obtenez plus d'informations sur notre nouveau support.</p>
                    <p><a href="announcements/new-support.html" class="button">Consulter</a></p>
                </article>
                <article>
                    <h3>Voir toutes les annonces</h3>
                    <p>Afficher toutes les annonces du service.</p>
                    <p><a href="announcements/announcements.html" class="button">Consulter</a></p>
                </article>
            </div>
        </div>
        <div id="support">
            <h2>Support</h2>
            <div class="articleContain">
                <article>
                    <h3>Rester à jour</h3>
                    <p>Obtenez les dernières informations sur <strong>Admin Services</strong>.</p>
                    <p><a href="support/category/updates.html" class="button">Consulter</a></p>
                </article>
                <article>
                    <h3>Système de compte</h3>
                    <p>Obtenir de l'aide pour des paramètres liés à votre compte.</p>
                    <p><a href="support/category/account.html" class="button">Consulter</a></p>
                </article>
                <article>
                    <h3>Outils de développement</h3>
                    <p>Obtenir de l'aide concernant les outils de développement.</p>
                    <p><a href="support/category/dev.html" class="button">Consulter</a></p>
                </article>
                <article>
                    <h3>Tout le support</h3>
                    <p>Obtenez toute forme d'aide depuis les pages support.</p>
                    <p><a href="support/support.html" class="button">Consulter</a></p>
                </article>
            </div>
        </div>
        <div id="hints">
            <h2>Astuces</h2>
            <div class="articleContain">
                <article>
                    <h3>Personnalisation</h3>
                    <p>Découvrez comment personnaliser <strong>Admin Services</strong>.</p>
                    <a href="hints/personalisation.html" class="button">Lire</a>
                </article>
                <article>
                    <h3>Outils de développement</h3>
                    <p>Découvrez comment utiliser les outils de développement.</p>
                    <a href="hints/dev.html" class="button">Lire</a>
                </article>
                <article>
                    <h3>Paramètres</h3>
                    <p>Découvrez comment modifier <strong>Admin Services</strong>.</p>
                    <a href="hints/settings.html" class="button">Lire</a>
                </article>
                <article>
                    <h3>Toutes les astuces</h3>
                    <p>Consultez la liste des astuces.</p>
                    <a href="applications/hints.html" class="button">Consulter</a>
                </article>
            </div>
        </div>
        <div id="selectElements">
            <form>
                <label>
                    <input type="checkbox" class="checkbox" data-target="recommandes" checked> Accueil
                </label>
                <label>
                    <input type="checkbox" class="checkbox" data-target="widgets" checked> Widgets
                </label>
                <label>
                    <input type="checkbox" class="checkbox" data-target="services" checked> Services
                </label>
                <label>
                    <input type="checkbox" class="checkbox" data-target="annonces" checked> Annonces
                </label>
                <label>
                    <input type="checkbox" class="checkbox" data-target="support" checked> Support
                </label>
                <label>
                    <input type="checkbox" class="checkbox" data-target="hints" checked> Astuces
                </label>
            </form>
        </div>
    </main>
    <footer>
        <p><small>&copy; 2024, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights
                reserved.</small></p>
    </footer>
    <script type="text/javascript" src="../assets/js/panel.js"></script>
    <script type="text/javascript" src="../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../assets/js/wallpaper.js"></script>
    <script type="text/javascript" src="../assets/js/weather.js"></script>
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>

</html>
