<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Services version 4.0.1">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
    <link rel="stylesheet" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="brand">
                    <img src="../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
                </li>
                <ul id="navItems">
                    <li>
                        <a href="./panel.html">Accueil</a>
                    </li>
                    <li>
                        <a href="./settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="./support/support.html">Support</a>
                    </li>
                    <li>
                        <a href="./services.html">Services</a>
                    </li>
                    <li>
                        <a href="#" id="logout">Déconnexion</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div id="quickActions">
                <h2>Accueil</h2>
                <h3 id="welcomeText">null</h3>
                <div class="articleContain">
                    <article>
                        <h3>Paramètres</h3>
                        <p>Changez les paramètres d'<strong>Admin Services</strong> et accédez à certaines informations.</p>
                        <p><a href="./settings.html" class="button">Accéder</a></p>
                    </article>
                    <article>
                        <h3>Support</h3>
                        <p>Obtenez tout le support nécessaire sur l'utilisation d'<strong>Admin Services</strong> et ses fonctions.</p>
                        <p><a href="./support/support.html" class="button">Accéder</a></p>
                    </article>
                    <article>
                        <h3>Google Mode</h3>
                        <p>Accédez de nouveau à <strong>Google Fake Admin Panel</strong></p>
                        <p><a href="./settings.html" class="button">Découvrir</a></p>
                    </article>
                </div>
            </div>
            <div id="adminInformation">
                <h3>Information</h3>
                <img src="../assets/img/logo.png" alt="Logo Admin Services" id="adminLogo">
                <p id="information"><small></small></p>
            </div>
            <div class="clear"></div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../assets/js/panel.js"></script>
    <script src="../assets/js/logout.js"></script>
    <script src="../assets/js/wallpaper.js"></script>
</body>
</html>