<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/panel.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
<!--            <li>-->
<!--                <a href="./panel.html">Accueil</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./settings.html">Paramètres</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./support/support.html">Support</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./services.html">Services</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="./apps.html">Applications</a>-->
<!--            </li>-->
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div class="container">
            <h2>Centre de sécurité</h2>
            <div class="articleContain">
                <article>
                    <h3>Mot de passe</h3>
                    <p id="passwordSecurityCheck">null</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../assets/js/logout.js"></script>
    <script src="../assets/js/wallpaper.js"></script>
    <script src="../assets/js/security-check.js"></script>
<script src="../assets/js/load-pfp.js"></script>
</body>
</html>