<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services - Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="brand">
                    <img src="../assets/img/logo.png" alt="Logo" height="30px"> Admin Services
                </li>
                <div class="items">
                    <li>
                        <a href="./admin.html">Accueil</a>
                    </li>
                    <li>
                        <a href="./settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="./services.html">Services</a>
                    </li>
                    <li>
                        <a href="../support/main.html">Support</a>
                    </li>
                    <li>
                        <a onclick="logout()">Déconnexion</a>
                    </li>
                </div>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>
    <main>
        <div id="mobileError">
            <h2>Information</h2>
            <p>Il semblerait que vous avez réussi à accéder à <strong>Admin Services</strong> sur un appareil non supporté.</p>
            <p>Merci de signaler le bug aux <a href="mailto:aielloenio@icloud.com">développeurs</a>.</p>
        </div>
        <div class="container">
            <h2>Services</h2>
            <h3>Services recommandés</h3>
            <div class="articleContain">
                <article>
                    <h3>Enio Aiello</h3>
                    <p>Site Web officiel d'<strong>Enio Aiello</strong>, créateur d'<strong>Admin Services</strong>.</p>
                    <p><a href="https://enioaiello.github.io/" class="button">Accéder</a></p>
                </article>
                <article>
                    <h3>Background-library</h3>
                    <p>Un site qui répertorie les meilleurs fonds d'écrans du site <strong>Pexels</strong>.</p>
                    <p><a href="https://enioaiello.github.io/background-library/" class="button">Accéder</a></p>
                </article>
            </div>
            <h3>Service non maintenus</h3>
            <div class="articleContain">
                <article>
                    <h3>Google Fake Admin Panel</h3>
                    <p>L'ancêtre d'<strong>Admin Services</strong>. Créé à l'origine lui aussi comme exerice et surtout comme "blague".</p>
                    <p>Date de fin de service : 22/04/2023 à 14h.</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;2023, Admin Services. By <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a> & <strong>Corundum</strong></p>
    </footer>
<script src="../assets/js/logout.js"></script>
<script src="../assets/js/logCheck.js"></script>
<script src="../assets/js/mobileCheck.js"></script>
</body>
</html>