<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services - Paramètres</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <div class="container">
        <h2>Paramètres</h2>
        <h3>Personnalisez votre expérience</h3>
        <p>Les paramètres ne sont pas disponible pour cette bêta. <a href="./admin.html">Retournez à l'accueil</a> ou <a onclick="logout()">déconnectez-vous</a>.</p>
    </div>
    <script src="../assets/js/logout.js"></script>
</body>
</html>