<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services - Paramètres</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="./admin.html">Accueil</a>
                </li>
                <li>
                    <a href="./settings.html">Paramètres</a>
                </li>
                <li>
                    <a href="./services.html">Services</a>
                </li>
                <li>
                    <a href="../support/main.html">Support</a>
                </li>
                <li>
                    <a onclick="logout()">Déconnexion</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="mobileError">
            <h2>Information</h2>
            <p>Il semblerait que vous avez réussi à accéder à <strong>Admin Services</strong> sur un appareil non supporté.</p>
            <p>Merci de signaler le bug aux <a href="mailto:aielloenio@icloud.com">développeurs</a>.</p>
        </div>
        <div class="container">
            <h2>Paramètres (beta)</h2>
            <h3>Personnalisez votre expérience</h3>
            <p>Les paramètres ne sont pas disponible pour le compte utilisateur universel. Voici néanmoins quelques actions que vous pouvez faire.</p>
            <ul>
                <li>
                    <a href="./admin.html">Retourner à l'accueil</a>
                </li>
                <li>
                    <a href="../support/update.html">Consulter les mises à jours</a>
                </li>
                <li>
                    <a onclick="logout()">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy;2023, Admin Services. By <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a></p>
    </footer>
    <script src="../assets/js/logout.js"></script>
    <script src="../assets/js/logCheck.js"></script>
    <script src="../assets/js/mobileCheck.js"></script>
</body>
</html>