<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <style>
        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .container * {
            margin: 1vh 0;
        }

        .container img {
            width: 15%;
        }
    </style>
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <div class="container">
        <img src="../assets/img/logo.png" alt="Logo d'Admin Services">
        <h2>Préparation</h2>
        <p>Nous vous préparons à accéder à l'application interne <strong>Vador</strong>.</p>
    </div>
    <script src="../assets/js/vador-redirect.js"></script>
</body>
</html>