<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../../assets/css/login.css">
    <link rel="icon" href="../../../assets/img/logo.png">
    <style>
        ul {
            padding: 0 2%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Création d'un compte</h1>
        <h2>Personnalisation</h2>
        <p><strong>Admin Services</strong> propose différentes fonctionnalités de personnalisation.</p>
        <h3>Par défaut</h3>
        <ul>
            <li>
                Aucun fond d'écran sur l'accueil (peut être modifié dans les paramètres)
            </li>
            <li>
                L'accueil est paramétrée pour afficher toutes les catégories (peut être modifié dans l'accueil)
            </li>
            <li>
                Le système de thème est en automatique (se base sur le thème de votre navigateur ou appareil)
            </li>
        </ul>
        <label>
            <input type="text" placeholder="Photo de profil" id="pfp">
        </label>
        <a href="../../panel.html" id="finish" class="button">Terminer la configuration</a>
    </div>
    <script src="../../../assets/js/finish-configuration.js"></script>
</body>

</html>