<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <meta name="description" content="Découvrez Admin Services : un projet d'étudiant">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../../assets/css/oobe.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>
<body>
    <div class="container">
        <div id="head">
            <h2>Paramètres de sécurité</h2>
        </div>
        <div id="content">
            <div id="text">
                <p>L'une des parties les plus importantes !</p>
                <p>Vous devrez définir un mot de passe, et choisir certains paramètres de sécurité afin de vous assurer que vos données seront toujours protégées.</p>
            </div>
            <form>
                <label>
                    <input type="password" id="password" placeholder="Mot de passe" required>
                </label>
                <label>
                    <input type="password" id="passwordRepeat" placeholder="Répéter le mot de passe" required>
                </label>
                <div id="check">
                    <input type="checkbox" name="fastReconnect" id="fastReconnect"><label for="fastReconnect">Je souhaite activer Fast-reconnect pour faciliter la reconnexion à mon compte (recommandé)</label>
                    <input type="checkbox" name="rewrite" id="rewrite"><label for="rewrite">Je souhaite activer la protection contre la réécriture de données et les sauvegardes de paramètres (recommandé)</label>
                </div>
                <input type="submit" value="Continuer" class="button">
                <p id="error">Veuillez remplir tous les champs !</p>
            </form>
        </div>
        <div id="state">
            <progress id="progressState" value="5" max="100"></progress>
        </div>
    </div>
    <script src="../../../assets/js/oobe/security.js"></script>
</body>
</html>