<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../../assets/css/login.css">
    <link rel="stylesheet" href="../../../assets/css/oobe.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>

<body>
    <div class="container">
        <h1>Création d'un compte</h1>
        <h2>Bienvenue !</h2>
        <p>Dans cet utilitaire, vous allez créer un compte <strong>Admin Services</strong> prêt à l'emploi.</p>
        <p>Les données obligatoires contiennent une étoile.</p>
        <a href="./user.html" class="button">Commencer</a>
    </div>
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>

</html>