<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
<!--            <li>-->
<!--                <a href="../../panel.html">Accueil</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="../../settings.html">Paramètres</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="../support.html">Support</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="../../services.html">Services</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="../../apps.html">Applications</a>-->
<!--            </li>-->
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div class="container">
            <h2>Annonces</h2>
            <h3>Mise à jour majeure</h3>
            <p>Bonjour.</p>
            <p>La version <strong>8.0.0</strong> arrivera le <strong>1er Novembre 2023</strong>. Cette mise à jour sera une refonte intégrale du site.</p>
            <p>Voici les nouveeautés :</p>
            <ul>
                <li>Reprise rapide de session</li>
                <li>Nouvel écran de connexion</li>
                <li>Refonte totale du site</li>
                <li>Nouvelle interface graphique : ArticlesUI</li>
                <li>Tri dans les localStorage</li>
                <li>Nouvelle sécurité</li>
                <li>Nouveau centre de sécurité</li>
                <li>Modifications du centre d'applications</li>
                <li>Certaines pages sont désormais dans un dossier à part (applications) avec les applications des développeurs</li>
                <li>Simplification du code afin que certaines actions soient automatique</li>
                <li>Corrections de toutes les erreurs W3C</li>
                <li>Corrections des erreurs de frappe</li>
                <li>Nouvelle page d'accueil</li>
                <li>Nouveaux paramètres</li>
                <li>Corundum ne participera plus à Admin Services</li>
            </ul>
            <p>Certaines fonctionnalités du site seront temporairement <strong>retirées</strong> et seront réintégrés avec le <strong>functionPack1</strong>.</p>
            <p>Cette mise à jour sera déployée <strong>gratuitement</strong> pour <strong>tous les utilisateurs</strong> du service.</p>
            <p>Les <strong>développeurs Corundum</strong>, les <strong>développeurs d'applications</strong>, les <strong>membres bêta et alpha</strong> ont déjà reçu la <strong>developper preview 1</strong> d'<strong>Admin Services 8</strong>.</p>
            <h3>Calendrier</h3>
            <p><strong>21 Octobre :</strong> Lancement de la developper preview 1 pour les utilisateurs alpha et les développeurs Corundum.</p>
            <p><strong>1er Novembre :</strong> Lancement d'<strong>Admin Services 8</strong> stable pour tous les utilisateurs.</p>
            <p><strong>2 Novembre :</strong> Début de la mise à jour vers les functionsPack1 (les membres bêta recevront 1 mise à jour toutes les semaines).</p>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../../assets/js/logout-settings.js"></script>
    <script src="../../../assets/js/account-information.js"></script>
    <script src="../../../assets/js/load-pfp.js"></script>
</body>
</html>