<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <a href="../../panel.html">Accueil</a>
            </li>
            <li>
                <a href="../../settings.html">Paramètres</a>
            </li>
            <li>
                <a href="../support.html">Support</a>
            </li>
            <li>
                <a href="../../services.html">Services</a>
            </li>
            <li>
                <a href="../../apps.html">Applications</a>
            </li>
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Annonces</h2>
        <h3>Intégration d'applications interne</h3>
        <p>Bonjour.</p>
        <p>Suite à la version <strong>6.0.0</strong> d'<strong>Admin Services</strong>, une nouvelle application est apparue sur <strong>Admin Services</strong>.</p>
        <p>Utilisez des applications officielles ou de développeurs tiers directement sur <strong>Admin Services</strong>.</p>
        <h4>Accéder à une application</h4>
        <p>Sur votre page d'accueil, descendez jusqu'à atteindre le menu <strong>Applications</strong>, qui se trouve après la personnalisation de votre page d'accueil.</p>
        <p>Vous pouvez, à partir de ce menu, lancer une application officielle ou tierce recommandée, ou accéder à toutes les applications vient un simple bouton.</p>
        <h4>Soumettre une application</h4>
        <p>Vous devrez contacter <a href="mailto:aielloenio@icloud.com">Enio Aiello</a> afin que vous lui communiquez votre idée d'application.</p>
        <p>Gardez cependant contact, si l'idée est intéressante, vous serez recontactés afin d'obtenir un kit de développement qui contient les règles de l'applications.</p>
        <p>Assurez-vous de rendre compatible votre application avec <strong>GitHub Pages</strong>, donc il ne faut que de l'HTML, du CSS, du JS et toute autre technologie prises en charges par ce service.</p>
        <p>Si votre application est jugée intéressante, elle sera publiée dans l'accueil de l'utilisateur, ou dans la liste des applications.</p>
    </div>
</main>
<footer>
    <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
</footer>
<script src="../../../assets/js/logout-settings.js"></script>
<script src="../../../assets/js/account-information.js"></script>
<script src="../../../assets/js/load-pfp.js"></script>
</body>
</html>