<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <style>
        a {
            color: blue;
            text-decoration: none;
        }

        a:hover {
            color: blue;
            text-decoration: underline;
        }

        h2 {
            margin: 1vh 1%;
        }

        p, #home {
            margin: 0vh 2%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>S'inscrire</h2>
        <p>Avant de créer un compte, lisez attentivement ce qui suit.</p>
        <p>Une fois votre compte créé, il sera appliqué <strong>uniquement sur votre appareil</strong>, il est donc unique.</p>
        <p>Vous pouvez vous déconnecter sans perdre votre compte.</p>
        <p>Pour supprimer votre compte, passez par la réinitialisation, trouvable dans les paramètres.</p>
        <a href="./register.html" id="home">Revenir à la page d'inscription</a>
    </div>
</body>
</html>