<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Services version 4.0.6">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <style>
        a {
            color: blue;
            text-decoration: none;
        }

        a:hover {
            color: blue;
            text-decoration: underline;
        }

        h2 {
            margin: 1vh 1%;
        }

        p, #home {
            margin: 0vh 2%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>S'inscrire</h2>
        <p>Avant de créer un compte, lisez attentivement ce qui suit.</p>
        <p>Une fois votre compte créé, il sera appliqué <strong>uniquement sur votre appareil</strong>, il est donc unique.</p>
        <p>Notez aussi que pour supprimer votre compte, vous devenez vous déconnecter.</p>
        <p>Si vous vous déconnectez, tout les paramètres liés à votre compte, comme votre token ou votre mot de passe, seront effacés.</p>
        <p>Concernant votre compte <strong>SHOPEI</strong>, nous n'avons pas encore d'informations précises concernant la suppression de votre compte, vous en serez plus prochainement.</p>
        <p>Cependant, votre fond d'écran est conservé et le thème sombre.</p>
        <p>En continuant, vous acceptez également que votre compte <strong>Admin Services</strong> soit stocké localement sur votre appareil. Il sera effacé si vous vous déconnectez.</p>
        <p>Si vous avez besoins d'assistance, consultez le <a href="https://github.com/enioaiello/admin-services">repo GitHub</a>.</p>
        <a href="./register.html" id="home">Revenir à la page d'inscription</a>
    </div>
</body>
</html>