<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <style>
        .container {
            background-image: none;
            cursor: none;
        }

        #welcomeText,
        #info small,
        #info small strong {
            color: black;
        }

        #loading {
            width: 2%;
        }

        #pdp {
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="" alt="Photo de profil" id="pdp">
        <h2 id="welcomeText">null</h2>
        <img src="https://enioaiello.github.io/shopei/assets/img/loading.gif" alt="Loading" id="loading">
        <p id="info"><small>Veuillez patienter, nous nous connectons à <strong>Admin Services</strong>.</small></p>
    </div>
    <script>
        let pdpCookies = localStorage.getItem("pdp");
        let pdp = document.querySelector("#pdp");
        let username = localStorage.getItem("username");
        let welcomeText = document.querySelector("#welcomeText");
        let group = localStorage.getItem("group");
        if (pdpCookies === undefined || pdpCookies === null || pdpCookies === "") {
            pdp.src = "https://www.photoprof.fr/images_dp/photographes/profil_vide.jpg";
        } else {
            pdp.src = pdpCookies;
        }
        welcomeText.textContent = "Bienvenue " + username;
        setTimeout(() => {
            window.location.href = "../panel.html";
        }, 1500)
    </script>
</body>

</html>