<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>
<body>
    <div class="container">
        <h1>Connexion à un compte existant</h1>
        <p>Connectez-vous à votre compte <strong>Admin Services</strong> pour accéder à l'ensemble des services.</p>
        <p>Vous n'avez pas de compte ? <a href="./register.html">Inscrivez-vous</a> !</p>
        <form>
            <label>
                <input type="text" id="email" placeholder="Votre adresse email" required>
            </label>
            <label>
                <input type="password" id="password" placeholder="Votre mot de passe" required>
            </label>
            <input type="submit" id="submit" value="Se connecter" class="button">
        </form>
        <p><a href="#" id="reset">Réinitialiser mon mot de passe</a></p>
    </div>
    <script src="../../assets/js/login.js" type="text/javascript"></script>
</body>
</html>