<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>

<body>
    <div class="container">
        <h1>Méthode de connexion</h1>
        <p>Choisissez une méthode de connexion pour utiliser <strong>Admin Services</strong>.</p>
        <div class="articleContain">
            <article>
                <h2>S'inscrire</h2>
                <p>Créez un compte <strong>Admin Services</strong> à utiliser sur l'ensemble du réseau.</p>
                <a href="../utility/oobe/welcome.html" class="button">Choisir cette option</a>
            </article>
            <article>
                <h2>Se connecter</h2>
                <p>Connectez-vous à votre compte <strong>Admin Services</strong> pour accéder à l'ensemble des services.
                </p>
                <a href="./login.html" class="button">Choisir cette option</a>
            </article>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>

</html>