<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/login-again.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div id="timeContainer" class="container">
        <h2 class="datetime"><span id="date"></span></h2>
        <h3 class="datetime"><span id="time" class="blink"></span></h3>
        <div class="bottomText">
            <p>Intéragissez pour déverrouiller</p>
        </div>
    </div>
    <div id="passwordContainer" class="container">
        <img src="#" alt="Photo de profil de l'utilisateur" id="profilePicture">
        <h1 id="username">Patientez…</h1>
        <div id="form">
            <form>
                <label>
                    <input type="password" id="password" placeholder="Votre mot de passe">
                </label>
                <input type="submit" value="Se connecter" id="start">
            </form>
            <p id="resetPassword"><a href="../utility/fast-reconnect/reset-password.html">Réinitialiser mon mot de passe</a>
            </p>
            <div class="bottomText">
                <p id="error"><small>Mot de passe incorrect !</small></p>
                <p><small>Connecté à <strong>Admin Services</strong></small></p>
            </div>
        </div>
        <div id="loading" class="none">
            <div class="spinner"></div>
        </div>
    </div>
    <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="logo">
    <script src="../../assets/js/login-again.js" type="text/javascript"></script>
</body>

</html>