<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/utilities/animations.css">
    <link rel="stylesheet" href="../../assets/css/login/reconnect.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
</head>
<body>
    <div class="container">
        <div id="timeContainer">
            <h2 class="datetime"><span id="date"></span></h2>
            <h3 class="datetime"><span id="time"></span></h3>
            <div class="bottomText">
                <p>Intéragissez pour déverrouiller</p>
            </div>
        </div>
        <div id="passwordContainer">
            <img src="#" alt="Photo de profil de l'utilisateur" id="profilePicture">
            <h2 id="username">Patientez…</h2>
            <div id="form">
                <form>
                    <label>
                        <input type="password" id="password" placeholder="Votre mot de passe">
                    </label>
                    <input type="submit" value="Se connecter" id="start">
                </form>
                <p id="resetPassword"><a href="../utility/fast-reconnect/reset-password.html">Réinitialiser mon mot de
                        passe</a>
                </p>
                <div class="bottomText">
                    <p id="error"><small>Mot de passe incorrect !</small></p>
                    <p><small>Connecté à <strong>Admin Services</strong></small></p>
                </div>
            </div>
            <div id="loading" class="none">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
    <img src="../../assets/img/logo.png" alt="Logo Admin Services" id="logo">
    <script type="text/javascript" src="../../assets/js/reconnect.js"></script>
</body>
</html>