<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>

<body>
    <div class="container">
        <h1>Création de compte</h1>
        <p>Créez un compte <strong>Admin Services</strong> à utiliser sur l'ensemble du réseau.</p>
        <p>Vous possédez un compte ? <a href="./login.html">Connectez-vous</a>.</p>
        <form>
            <label>
                <input type="text" id="username" placeholder="Votre nom d'utilisateur" required>
            </label>
            <label>
                <input type="text" id="email" placeholder="Votre adresse email" required>
            </label>
            <label>
                <input type="password" id="password" placeholder="Votre mot de passe" required>
            </label>
            <label>
                <input type="text" id="pfp" placeholder="Votre photo de profil">
            </label>
            <input type="submit" id="submit" value="Créer mon compte" class="button">
        </form>
    </div>
    <script src="../../assets/js/register.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>

</html>