<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Services version 4.0.1">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel.css">
    <link rel="stylesheet" href="../../../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="brand">
                    <img src="../../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
                </li>
                <ul id="navItems">
                    <li>
                        <a href="../../panel.html">Accueil</a>
                    </li>
                    <li>
                        <a href="../../settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="../../support/support.html">Support</a>
                    </li>
                    <li>
                        <a href="../../services.html">Services</a>
                    </li>
                    <li>
                        <a href="#" id="logout">Déconnexion</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Version 4.0.3</h2>
            <div class="articleContain">
                <article>
                    <h3>Amélioration de l'interface</h3>
                    <p>La mise à jour la plus complète en terme de design.</p>
                </article>
                <article>
                    <h3>Ajout des services</h3>
                    <p>Retour des services, vous pouvez désormais en faire plus avec <strong>Admin Services</strong> !</p>
                </article>
                <article>
                    <h3>Améliration du Google Mode</h3>
                    <p>Le <strong>Google Mode</strong> a été amélioré ! Vous avez désormais un meilleur support pour ce dernier.</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../../assets/js/logout-settings.js"></script>
    <script src="../../../assets/js/account-information.js"></script>
</body>
</html>