<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="brand">
                    <img src="../../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
                </li>
                <ul id="navItems">
                    <li>
                        <a href="../../panel.html">Accueil</a>
                    </li>
                    <li>
                        <a href="../../settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="../../support/support.html">Support</a>
                    </li>
                    <li>
                        <a href="../../services.html">Services</a>
                    </li>
                    <li>
                        <a href="#" id="logout">Déconnexion</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Version 4.0.2</h2>
            <div class="articleContain">
                <article>
                    <h3>Ajout du Google Mode</h3>
                    <p>Le <strong>Google Mode</strong> est de retour ! (Re-)Découvrez ce qui a servi de base à <strong>Admin Services</strong>.</p>
                </article>
            </div>
            <h4>À venir</h4>
            <div class="articleContain">
                <article>
                    <h3>Fonds d'écrans</h3>
                    <p>Ajout des fonds d'écrans de panneau de configuration</p>
                </article>
                <article>
                    <h3>Son de bienvenue</h3>
                    <p>Ajout d'un son lors de la connexion et déconnexion</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../../assets/js/logout-settings.js"></script>
    <script src="../../../assets/js/account-information.js"></script>
    <script src="../../../assets/js/load-pfp.js"></script>
</body>
</html>