<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum" name="description">
    <title>Admin Services</title>
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link href="../../../assets/css/panel.css" rel="stylesheet">
    <link href="../../../assets/img/logo.png" rel="icon">
</head>
<body>
<header>
    <nav>
        <ul>
            <li id="brand">
                <img alt="Admin Services Logo" id="brandIcon" src="../../../assets/img/logo.png">
            </li>
            <ul id="navItems">
                <li>
                    <a href="../../panel.html">Accueil</a>
                </li>
                <li>
                    <a href="../../settings.html">Paramètres</a>
                </li>
                <li>
                    <a href="../../support/support.html">Support</a>
                </li>
                <li>
                    <a href="../../services.html">Services</a>
                </li>
                <li>
                    <a href="../../apps.html">Applications</a>
                </li>
                <li>
                    <a href="#" id="logout">Déconnexion</a>
                </li>
            </ul>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Version 4.2.0</h2>
        <div class="articleContain">
            <article>
                <h3>Modification des paramètres de comptes</h3>
                <p>Modifiez vos paramètres de comptes utilisateurs, tels que votre nom d'utilisateur, votre mot de passe
                    et plus.</p>
            </article>
            <article>
                <h3>Photo de profil</h3>
                <p>Changez de photo de profil simplement et rapidement directement depuis <strong>Admin
                    Services</strong>, juste avec un <strong>lien image</strong>, comme une photo Twitter, Google…</p>
            </article>
            <article>
                <h3>Page de chargement</h3>
                <p>Cette page intervient lorsque vous vous connectez à votre compte <strong>Admin Services</strong>.</p>
            </article>
            <article>
                <h3>Changement des paramètres d'inscription</h3>
                <p>Vous pouvez désormais choisir votre pseudonyme (ou le laisser vide si vous voulez qu'il se génère),
                    votre mot de passe et votre adresse email.</p>
            </article>
        </div>
    </div>
</main>
<footer>
    <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a
            href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
</footer>
<script src="../../../assets/js/logout-settings.js"></script>
<script src="../../../assets/js/account-information.js"></script>
<script src="../../../assets/js/load-pfp.js"></script>
</body>
</html>