<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <!--            <li>-->
            <!--                <a href="../../panel.html">Accueil</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="../../settings.html">Paramètres</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="../support.html">Support</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="../../services.html">Services</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="../../apps.html">Applications</a>-->
            <!--            </li>-->
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div class="container">
            <h2>Version 5.0.0</h2>
            <div class="articleContain">
                <article>
                    <h3>Plus de personnalisation</h3>
                    <p>Cette nouvelle version apporte une personnalisation totale d'<strong>Admin Services</strong>. Que ce soit la barre de navigation, les boutons...</p>
                </article>
                <article>
                    <h3>Sécurité améliorée</h3>
                    <p>Que ce soit pour se connecter à un service externe avec un mot de passe ou le système de connexion, tout a été nettement amélioré.</p>
                </article>
                <article>
                    <h3>Nouvelle page d'accueil</h3>
                    <p>Découvrez une nouvelle page d'accueil, plus simple à prendre en main. Cette page d'accueil retire tout les informations supplémentaires et permet de se concentrer sur l'essentiel.</p>
                </article>
                <article>
                    <h3>Amélioration de l'organisation</h3>
                    <p>Les fichiers d'<strong>Admin Services</strong> ont été triés et sont désormais plus propre.</p>
                </article>
                <article>
                    <h3>Fin d'Admin Services Plus</h3>
                    <p><strong>Admin Services Plus</strong> a désormais été entièrement retiré d'<strong>Admin Services</strong>. Sauf si vous avez déjà activé ce dernier. Nous vous recommandons de le retirer car il est désormais totalement inutile.</p>
                </article>
                <article>
                    <h3>Suppression de l'affichage des mises à jour</h3>
                    <p>Vous pouvez désormais, comme avant, accéder à <strong>Admin Services</strong> même pendant une mise à jour.</p>
                </article>
                <article>
                    <h3>Nouvelle écran de connexion</h3>
                    <p>La page est désormais plus simple et a été optimisée pour les anciens appareils.</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a
                    href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../../assets/js/logout-settings.js"></script>
    <script src="../../../assets/js/account-information.js"></script>
    <script src="../../../assets/js/load-pfp.js"></script>
</body>
</html>