<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/panel.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>
<body>
<header>
    <nav>
        <div id="brand">
            <img src="../../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            <p>Admin Services</p>
        </div>
        <ul id="navItems">
            <li>
                <a href="../../panel.html">Accueil</a>
            </li>
            <li>
                <a href="../../settings.html">Paramètres</a>
            </li>
            <li>
                <a href="../support.html">Support</a>
            </li>
            <li>
                <a href="../../services.html">Services</a>
            </li>
            <li>
                <div id="logoutChamp">
                    <a href="#" id="logout">
                        <img src="#" alt="Photo de profil" id="pfpLogout">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div class="container">
            <h2>Centre de mises à jour</h2>
            <h3>Dernières mises à jour</h3>
            <p id="latestVersion"></p>
            <div class="articleContain">
                <article>
                    <h3>Version 5.0.0</h3>
                    <p>Cette mise à jour apporte de nouvelles fonctionnalités.</p>
                    <p><a href="./5.0.0.html" class="button">En lire plus</a></p>
                </article>
                <article>
                    <h3>Version 4.2.3</h3>
                    <p>Cette mise à jour apporte les achats SHOPEI.</p>
                </article>
                <article>
                    <h3>Version 4.2.2</h3>
                    <p>Cette mise à jour supprime le compte universel.</p>
                </article>
                <article>
                    <h3>Version 4.2.1</h3>
                    <p>Cette mise à jour apporte le fait de pouvoir changer ses paramètres de comptes et modifie l'interface des paramètres de comptes.</p>
                </article>
                <article>
                    <h3>Version 4.2.0</h3>
                    <p>Cette mise à jour apporte des nouvelles fonctionnalités tels que l'ajout de photo de profil sur les comptes, un écran de chargement lorsque vous vous connectez, de nouvelles fonctionnalités de personnalisation lors de l'inscription ainsi que le fait de pouvoir changer les paramètres de comptes.</p>
                    <p><a href="./4.2.0.html" class="button">En lire plus</a></p>
                </article>
                <article>
                    <h3>Version 4.1.3b</h3>
                    <p>Cette mise à jour apporte <strong>le centre de sécurité</strong>. Ce dernier comporte des suggestions sur la sécurité de votre compte et des services connectés à <strong>Admin Services</strong>. Plusieurs patchs de sécurités et de fonctionnalités devraient arrivés prochainement pour compléter les nouveautés de cette fonctionnalité.</p>
                </article>
                <article>
                    <h3>Version 4.1.2</h3>
                    <p>Modification des couleurs et de la police du site.</p>
                </article>
                <article>
                    <h3>Version 4.1.1</h3>
                    <p>Ajout d'<strong>Admin Services Plus</strong> et amélioration du service.</p>
                </article>
                <article>
                    <h3>Version 4.1.0</h3>
                    <p>Ajout du système d'inscription. Ce dernier fonctionne uniquement sur l'appareil que vous utilisez actuellement, vous ne pouvez donc pas l'utiliser sur tous vos appareils. De plus vous pouvez utiliser plusieurs fois la même adresse e-mail.</p>
                </article>
                <article>
                    <h3>Version 4.0.7</h3>
                    <p>Modification de l'écran d'authentication. Ajout de nouveaux fonds d'écrans locaux. Nouveau logo pour l'écran d'authentication.</p>
                </article>
                <article>
                    <h3>Version 4.0.6</h3>
                    <p>Ajout de la prise en charge des fonds d'écran sur le panneau.</p>
                </article>
                <article>
                    <h3>Version 4.0.5</h3>
                    <p>Ajout d'un nouveau service compatible avec un compte <strong>Admin Services</strong>.</p>
                </article>
                <article>
                    <h3>Version 4.0.4</h3>
                    <p>Cette nouvelle mise à jour apporte la prise en charge des appareils mobiles. Elle déplace également les paramètres de thèmes sombres dans une nouvelle page.</p>
                </article>
                <article>
                    <h3>Version 4.0.3</h3>
                    <p>Mise à jour mineure apportant quelques corrections</p>
                    <p><a href="./4.0.3.html" class="button">Consulter</a></p>
                </article>
                <article>
                    <h3>Version 4.0.2</h3>
                    <p>Réintégre le <strong>Google Mode</strong> et bien plus !</p>
                    <p><a href="./4.0.2.html" class="button">Consulter</a></p>
                </article>
                <article>
                    <h3>Version 4.0.1</h3>
                    <p>Cette version réorganise les fichiers, les fonctionnalités du site et apporte un nouveau design simpliste.</p>
                    <p><a href="./4.0.1.html" class="button">Consulter</a></p>
                </article>
            </div>
            <h3>Anciennes mises à jour</h3>
            <div class="articleContain">
                <article>
                    <h3>Version 4.0.0</h3>
                    <p>Cette mise à jour donne un nouveau design pour Admin Services.</p>
                </article>
                <article>
                    <h3>Version 3.0.4</h3>
                    <p>Mise à jour des comptes développeurs</p>
                </article>
                <article>
                    <h3>Version 3.0.3</h3>
                    <p>Suppression des annonces, suppressions des informations de versions de la version 3, suppression du google-mode, suppression de l'écran de bienvenue.</p>
                </article>
                <article>
                    <h3>Version 3.0.2</h3>
                    <p>Cette mise à jour re-design le support et apporte des nouvelles fonctionnalités.</p>
                </article>
                <article>
                    <h3>Version 3.0.1</h3>
                    <p>Cette mise à jour améliore et corrige des failles sur le <strong>Google Mode</strong>.</p>
                </article>
                <article>
                    <h3>Version 3.0.0</h3>
                    <p>Cette mise à jour apporte un nouveau style au site Web et corrige certaines failles. Cliquez <a href="./update-3.html">ici</a> pour en savoir plus.</p>
                </article>
                <article>
                    <h3>Version 2.0.4</h3>
                    <p>Cette mise à jour apporte un nouveau système pour appareil non compatible. Celui-ci enlève la possibilité d'accéder aux pages du site si l'appareil fait moins de 768 pixels.</p>
                </article>
                <article>
                    <h3>Version 2.0.3</h3>
                    <p>Cette version apporte un correctif de sécurité et supprime le Google Mode. Elle fait également un tri dans les fonctionnalités du site.</p>
                </article>
                <article>
                    <h3>Version 2.0.2</h3>
                    <p>Cette version apporte un correctif de sécurité empêchant les utilisateurs non connecté d'utiliser le panel.</p>
                </article>
                <article>
                    <h3>Version 2.0.1</h3>
                    <p>Cette version apporte plusieurs correctifs et améliore le service.</p>
                </article>
                <article>
                    <h3>Version 2.0.0</h3>
                    <p>Cette version ajoute le Google Mode, des corrections et des améliorations.</p>
                </article>
                <article>
                    <h3>Version 1.0.0</h3>
                    <p>Cette version donne un aspect général équivalent au reste du site. Ajout d'un nouveau service</p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../../assets/js/logout-settings.js"></script>
    <script src="../../../assets/js/account-information.js"></script>
    <script src="../../../assets/js/panel-version.js"></script>
    <script src="../../../assets/js/load-pfp.js"></script>
</body>
</html>