@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes blink {
    0% { opacity: 1; }
    40% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes slideOut {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes extendY {
    0% { height: 0; }
    100% { height: 100%; }
}

@keyframes extendX {
    0% { width: 0; }
    100% { width: 100%; }
}