.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container img {
    width: 150px;
    height: 150px;
}

.container progress {
    display: none;
    margin: 3vh 0;
}

.container #message {
    display: none;
}