.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

h2 {
    text-align: left;
}

#imageArticle {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#imageArticle img {
    width: 50%;
}