.container {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container #top {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container #top img {
    width: 2.5%;
}

.container #content {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container #content * {
    margin: 0.5vh 0;
    font-size: 1.2rem;
}

.container #bottom {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #bottom button {
    width: 15%;
    margin: 0 2.5vw;
    padding: 1% 5%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #40798c;
    color: #ffffff;
    cursor: pointer;
}

.container #bottom button:hover {
    background-color: #2b5f6e;
}