@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    transition: 200ms;
}

::selection {
    background-color: #40798c;
    color: white;
}

.darkMode {
    background-color: black;
    color: white;
}

.darkMode .button {
    background-color: white;
    color: black;
}

.darkMode #login {
    background-color: white;
    color: black;
}

.darkMode ::selection {
    background-color: white;
    color: black;
}

.none {
    display: none;
}

.denied {
    cursor: not-allowed;
}

/*@media (prefers-color-scheme: dark) {*/
/*    body {*/
/*        background-color: black;*/
/*        color: white;*/
/*    }*/

/*    * {*/
/*        color: white;*/
/*    }*/

/*    article {*/
/*        background-color: white;*/
/*        color: black;*/
/*    }*/
/*}*/