* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 200ms;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

::selection {
    background-color: #40798c;
    color: white;
}

a {
    color: #40798c;
    text-decoration: none;
}

a:hover {
    color: #40798c;
    text-decoration: underline;
}

code {
    display: inline-block;
    width: 100%;
    padding: 0.5%;
    background: rgb(128, 128, 128);
    color: white;
    margin: 1vh 0;
    border-radius: 5px;
}

footer {
    background-color: #40798c;
}

footer p {
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 1% 0;
}

footer p small a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer p small a:hover {
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-weight: bold;
}

.denied {
    cursor: not-allowed;
}

.none {
    display: none;
}

@media (max-width: 768px) {
    article {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: #ffffff;
        color: #000000;
    }

    header, footer {
        background-color: #000000;
    }

    header nav ul li a {
        text-decoration: none;
        color: #ffffff;
    }

    body {
        background-color: #000000;
        color: #ffffff;
    }
}