@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    transition: 200ms;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.error {
    background-color: red;
    border: 1px solid darkred;
    color: white;
    padding: 1%;
    border-radius: 5px;
}

.information {
    background-color: royalblue;
    border: 1px solid blue;
    color: white;
    padding: 1%;
    border-radius: 5px;
}

.none {
    display: none;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.empty {
    display: block;
    margin: 1%;
}

h2 {
    text-align: center;
}

hr {
    width: 25%;
}

.articleContain {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

article {
    width: 48%;
    background-color: lightgray;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}

.denied {
    cursor: not-allowed;
}

footer {
    width: 80%;
    margin: 0 auto;
}

footer p {
    margin: 1% 0;
    text-align: center;
}

.empty2 {
    display: block;
    height: 100vh;
}

.button {
    background-color: #0075c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 1% 5%;
}

.button:hover {
    background-color: #0267c1;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 1% 5%;
}

#mobileError {
    display: none;
    background-color: red;
    color: white;
    width: 75%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 5px;
}

#mobileError a {
    color: white;
    text-decoration: underline;
}

#mobileError .button {
    color: black;
    text-decoration: none;
    background-color: white;
}

@media (max-width: 576px) {
    .container {
        display: none;
    }

    #mobileError {
        display: block;
    }
}