h2 {
    text-align: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

code {
    padding: 0.5%;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightgray;
}

footer p {
    text-align: center;
}