<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez Admin Services, un projet d'étudiant géré par la team Corundum">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="icon" href="../../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="brand">
                    <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
                </li>
                <ul id="navItems">
                    <li>
                        <a href="../panel.html">Accueil</a>
                    </li>
                    <li>
                        <a href="../settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="../support/support.html">Support</a>
                    </li>
                    <li>
                        <a href="../services.html">Services</a>
                    </li>
                    <li>
                        <a href="#" id="logout">Déconnexion</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Admin Services plus</h2>
            <p>Faites-en plus avec <strong>plus</strong>.</p>
            <p><strong>Admin Services Plus</strong> est un nouveau système réservés aux <strong>développeurs d'applications SHOPEI</strong> ainsi qu'aux <strong>développeurs certifiés</strong>, tels que les développeurs <strong>Corundum</strong>. Il contient les mises à jour bêta d'<strong>Admin Services</strong> et plus.</p>
            <div class="articleContain">
                <article>
                    <h3>Mises à jour bêta</h3>
                    <p>Accéder aux mises à jour majeures avant tout le monde !</p>
                </article>
            </div>
            <h3>Développeurs ?</h3>
            <p>Vous êtes développeurs ?</p>
            <p>Activez <strong>Admin Services Plus</strong> !</p>
            <p>Cela est l'équivalent du <strong>compte développeur</strong> des anciennes versions d'<strong>Admin Services</strong>.</p>
            <p>C'est gratuit, simple et rapide !</p>
            <p><a href="../plus.html" class="button">Activer Admin Services Plus</a></p>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../assets/js/logout-settings.js"></script>
    <script src="../../assets/js/account-information.js"></script>
</body>
</html>