<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Services version 4.0.1">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="stylesheet" href="../../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="brand">
                    <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
                </li>
                <ul id="navItems">
                    <li>
                        <a href="../panel.html">Accueil</a>
                    </li>
                    <li>
                        <a href="../settings.html">Paramètres</a>
                    </li>
                    <li>
                        <a href="../support/support.html">Support</a>
                    </li>
                    <li>
                        <a href="#" id="logout">Déconnexion</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Support</h2>
            <div class="articleContain">
                <article>
                    <h3>Centre de mises à jours</h3>
                    <p>Découvrez ce qu'il y a de nouveau avec de nouvelles mises à jour. Ces dernières sont automatiques.</p>
                    <p><a href="./updates/update.html" class="button">Découvrir</a></p>
                </article>
                <article>
                    <h3>Connexion à un compte</h3>
                    <p>Apprennez à vous connecter avec le <strong>compte universel</strong> et testez les différentes fonctionnalités d'<strong>Admin Services</strong>.</p>
                    <p><a href="./login.html" class="button">Découvrir</a></p>
                </article>
            </div>
            <h2>Obtenir de l'aide supplémentaire</h2>
            <div class="articleContain">
                <article>
                    <h3>Serveur Discord</h3>
                    <p>Obtenir de l'aide sur Discord auprès des développeurs et membres de la communauté.</p>
                    <p><a href="https://discord.gg/YhN9EcUGny" target="_blank" class="button">Rejoindre</a></p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum Team</a> and <a href="https://enioaiello.github.io/">Enio Aiello</a>. All right reserved.</small></p>
    </footer>
    <script src="../../assets/js/logout-settings.js"></script>
    <script src="../../assets/js/account-information.js"></script>
</body>
</html>