<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Admin Panel</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png">
</head>
<body class="mainDiv">
    <div class="logoutText none">Please wait</div>
    <header>
        <nav>
            <ul>
                <li>
                    <img src="../img/favicon.png" alt="Logo">
                </li>
                <li>
                    <a href="../../index.html" title="Return to login">Return to login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Cookies</h2>
        <p>This service only stores session data on your computer, such as your user ID, allowing us to keep you logged in.
            We do not collect any other data.</p>
    </main>
    <div class="clear"></div>
</body>
</html>