<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/panel.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../assets/css/appinfo.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div id="brand">
                <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            </div>
            <ul id="navItems">
                <li><a href="../panel.html" id="backPage"><i class="fa-solid fa-house"></i></a></li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Applications</h1>
        <div id="list">
            <h2>Applications internes</h2>
            <div id="internal" class="articleContain">

            </div>
            <h2>Applications tierces</h2>
            <div id="external" class="articleContain">

            </div>
            <h2>Espace développeurs</h2>
            <div id="developers" class="articleContain">
                <article>
                    <h3>Développez votre propre application</h3>
                    <p>Téléchargez dès aujourd'hui le <strong>SDK</strong> et développez votre première application !</p>
                    <a href="../../assets/files/sdk.zip" class="button">Commencer</a>
                </article>
            </div>
            <h2>Prochainement</h2>
            <p>Ces applications apparaîtront dans <strong>Admin Services 10</strong> !</p>
            <div id="soon" class="articleContain">
                <article>
                    <h3>Lecteur multimédia</h3>
                    <p>Ouvrez vos fichiers favoris dans votre navigateur ! Lisez de la musique, des vidéos, des images et bien plus !</p>
                </article>
                <article>
                    <h3>Recherche rapide</h3>
                    <p>Recherchez rapidement des astuces, applications, paramètres, annonces, mises à jour et bien plus !</p>
                </article>
            </div>
        </div>
        <div id="info" class="none">
            <div id="head">
                <div id="details">
                    <h2 id="appName"></h2>
                    <h3 id="appDev"></h3>
                    <h4 id="appCategory"></h4>
                </div>
                <div id="links">
                    <a href="#" id="appLink" class="button">Démarrer</a>
                    <a href="#" id="back">Retour</a>
                </div>
            </div>
            <div id="appCaptureContain">
                <img src="#" alt="#" id="appScreen">
            </div>
            <div id="appDesc">
                <div id="appDescSection">
                    <h3>Description</h3>
                    <p id="appDescription"></p>
                </div>
                <div id="appCompatibilitySection">
                    <h3>Compatibilité</h3>
                    <p id="appCompatibility"></p>
                </div>
                <div id="appVersionSection">
                    <h3>Version</h3>
                    <p id="appVersion"></p>
                </div>
                <div id="appSourceSection">
                    <h3>Code source</h3>
                    <p id="appSource"></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights
            reserved.</p>
    </footer>
    <script src="../../assets/js/load-apps.js" type="text/javascript"></script>
    <script src="../../assets/js/load-pfp.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>

</html>
