<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../assets/css/panel/app-library.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            </a>
            <ul id="navItems">
                <li><a href="../panel.html" id="backPage"><i class="fa-solid fa-house"></i></a></li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="list">
            <h1>Applications</h1>
            <div id="appContain" class="articleContain">

            </div>
        </div>
        <div id="info" class="none">
            <div id="head">
                <div id="details">
                    <h2 id="appName"></h2>
                    <h3 id="appDev"></h3>
                    <h4 id="appCategory"></h4>
                </div>
                <div id="links">
                    <a href="#" id="appLink" class="button">Démarrer</a>
                    <a href="#" id="back">Retour</a>
                </div>
            </div>
            <div id="appCaptureContain">
                <img src="#" alt="#" id="appScreen">
            </div>
            <div id="appDesc">
                <div id="appDescSection">
                    <h3>Description</h3>
                    <p id="appDescription"></p>
                </div>
                <div id="appCompatibilitySection">
                    <h3>Compatibilité</h3>
                    <p id="appCompatibility"></p>
                </div>
                <div id="appVersionSection">
                    <h3>Version</h3>
                    <p id="appVersion"></p>
                </div>
                <div id="appSourceSection">
                    <h3>Code source</h3>
                    <p id="appSource"></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="../../assets/js/load-apps.js"></script>
    <script type="text/javascript" src="../../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>
</html>
