<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            </a>
            <ul id="navItems">
                <li><a href="../panel.html" id="backPage"><i class="fa-solid fa-house"></i></a></li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Espace développeur</h1>
        <h2>Outils de développement</h2>
        <div class="articleContain">
            <article>
                <h3>SDK</h3>
                <p>Téléchargez le <strong>SDK</strong> et développez votre première application !</p>
                <a href="../../assets/files/sdk.zip" class="button">Commencer</a>
            </article>
            <article>
                <h3>Repo GitHub</h3>
                <p>Accédez au repo GitHub pour consulter l'ensemble des fichiers, commits, pull et bien plus.</p>
                <a href="https://github.com/enioaiello/admin-services" class="button">Consulter</a>
                <p><small>Cet outil est externe et redirige vers <strong>github.com</strong></small></p>
            </article>
        </div>
        <h2>Informations</h2>
        <div class="articleContain">
            <article>
                <h3>Admin Services</h3>
                <p>Version <strong id="update">10.0</strong></p>
                <p>Canal : Stable</p>
                <a href="../settings/admin.html" class="button">En voir plus</a>
            </article>
            <article>
                <h3>ArticlesUI</h3>
                <p>Version <strong>3.0-as</strong></p>
                <a href="../settings/admin.html" class="button">En voir plus</a>
            </article>
            <article>
                <h3>Utilisateur</h3>
                <p id="username"></p>
                <p id="email"></p>
                <a href="../settings/account.html" class="button">En voir plus</a>
            </article>
            <article>
                <h3>Navigateur</h3>
                <p id="browserInfo"></p>
            </article>
        </div>
        <h2>Outils</h2>
        <div class="articleContain">
            <article>
                <h3>Afficher les bordures</h3>
                <p>Afficher les bordures de tous les éléments dans une couleur rouge.</p>
                <a href="#" id="showBorders" class="button">Afficher</a>
            </article>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="../../assets/js/load-pfp.js"></script>
    <script type="text/javascript" src="../../assets/js/load-developers-informations.js"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>
</html>