<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/articlesui.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="../panel.html" id="brand">
                <img src="../../assets/img/logo.png" alt="Admin Services Logo" id="brandIcon">
            </a>
            <ul id="navItems">
                <li>
                    <a href="../panel.html" id="backPage"><i class="fa-solid fa-house"></i></a>
                </li>
                <li>
                    <div id="logoutChamp">
                        <a href="#" id="logout">
                            <img src="#" alt="Photo de profil" id="pfpLogout">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Astuces</h1>
        <div id="hints" class="articleContain">
            <article>
                <h3>Bienvenue</h3>
                <p>Bienvenue dans l'application <strong>Astuces</strong> ! Obtenez des conseils et tutoriels pour chaque nouvelle version majeure.</p>
            </article>
        </div>
    </main>
    <footer>
        <p>&copy;2025, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All rights
            reserved.</p>
    </footer>
    <script src="../../assets/js/hints.js" type="text/javascript"></script>
    <script src="../../assets/js/load-pfp.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../assets/js/back.js"></script>
</body>
</html>