<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/articlesui.css">
    <link rel="stylesheet" href="../../../assets/css/login.css">
    <link rel="icon" href="../../../assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Création d'un compte</h1>
        <h2>Options de sécurité</h2>
        <p><strong>Admin Services</strong> est livré avec plusieurs options de sécurité, telles que la protection et la sauvegarde de votre compte, les mises à jour de compte...</p>
        <p>Vous pouvez choisir quelles sécurités activer pour votre profil.</p>
        <p>Vous pourrez, bien entendu, changer ces réglages via le centre de sécurité dans votre page d'accueil.</p>
        <div id="choice" class="articleContain">
            <article>
                <h3>Paramètres personnalisés</h3>
                <p>Choisissez les paramètres de sécurité qui vous conviennent.</p>
                <a href="#" id="custom" class="button">Choisir cette option</a>
            </article>
            <article>
                <h3>Paramètres recommandés</h3>
                <p>Active toutes les sécurités par défaut.</p>
                <a href="#" id="recommended" class="button">Choisir cette option</a>
            </article>
        </div>
    </div>
    <script src="../../../assets/js/initialize-security.js"></script>
</body>

</html>