<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Services</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/utility.css">
    <link rel="icon" href="../../../assets/img/logo.png">
</head>

<body>
    <div class="container">
        <div id="content">
            <h1>Utilitaire de réinitialisation de mot de passe</h1>
            <p>Bienvenue ! Cet utilitaire permet de réinitialiser votre mot de passe <strong>Admin Services</strong>,
                lorsque vous êtes connecté avec <strong>Fast-reconnect</strong>.</p>
            <p>S'il s'agit d'une erreur, <a href="../../login/password.html">cliquez ici</a>.</p>
        </div>
        <p id="proceed"><a href="./password/data.html"><i class="fas fa-arrow-right"></i></a></p>
    </div>
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>

</html>
