<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Découvrez Admin Services : un projet étudiant">
    <title>Admin Services</title>
    <link rel="icon" href="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/utilities/utility.css">
</head>
<body>
    <div class="container">
        <div id="content">
            <h1>Utilitaire de réinitialisation de mot de passe</h1>
            <p>Bienvenue ! Cet utilitaire permet de réinitialiser votre mot de passe <strong>Admin Services</strong>
                lorsque vous êtes connecté avec <strong>Fast-reconnect</strong>.</p>
            <p>S'il s'agit d'une erreur, <a href="../../login/reconnect.html">cliquez ici</a>.</p>
        </div>
        <p id="proceed"><a href="./password/data.html"><i class="ri-arrow-right-line"></i></a></p>
    </div>
</body>
</html>