<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Google Mode on Admin Services.">
    <title>Google Admin Panel</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../../close.css">
</head>
<body>
    <div class="mainDiv">
        <img src="../img/favicon.png" alt="Google Admin Panel logo">
        <h1>Google Admin Panel</h1>
        <p>How would you like to restore the previous session?</p>
        <section id="articleLeft">
            <a href="./success.html" class="link">Yes</a>
        </section>
        <section id="articleRight">
            <a href="./loginType.html" id="dontRestore" class="link">No</a>
        </section>
        <div class="clear"></div>
    </div>
    <script>
        let notRestore = document.querySelector("#dontRestore");

        function exit() {
            localStorage.removeItem("token")
        }

        notRestore.addEventListener("click", exit);
    </script>
</body>
</html>